<!-- Page Heading -->
<div class="text-center">
    <h1 class="h4 text-gray-900 mb-4">Add Shoes</h1>
  </div>
  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-body">
      <form onsubmit="return validateForm()" name="productForm" action="/admin/product/add-product" method="POST" enctype="multipart/form-data">

          <div class="form-group">
            <label for="exampleFirstName" class="font-weight-bold">Shoes Name:</label>
            <input type="text" name="name" class="form-control form-control-user" id="exampleFirstName" placeholder="Name">
          </div>

          <div class="form-group">
            <label for="exampleFirstName" class="font-weight-bold">Gender:</label><br>
            <input type="radio" name="gender" value="male" class="" id="male"><label for="male">Male</label><br>
            <input type="radio" name="gender" value="female" class="" id="female"><label for="female">Female</label><br>
          </div>

          <div class="form-group" style="margin-bottom: 10px;">
            <label for="exampleFirstName" class="font-weight-bold">Shoes Description:</label>
            <textarea name="description" class="form-control form-control-user" id="" cols="30" rows="8" placeholder="Description..."></textarea>
          </div>

          <div class="form-group" style="margin-bottom: 10px;">
            <label for="exampleFirstName" class="font-weight-bold">Producer of shoes:</label>
            <select name="producer_id" class="form-control form-control-user" id="">
                <option value="" disabled selected>Select A Producer Of Shoes</option>
                <% producers.forEach((producer)=>{%>
                  <option value="<%=producer._id%>"><%=producer.name%></option>
                <%})%>
                  
            </select>
          </div>

          <div class="form-group" style="margin-bottom: 10px;">
            <label for="exampleFirstName" class="font-weight-bold">Type Of Shoes:</label>
            <select name="product_type_id" class="form-control form-control-user" id="">
                <option value="" disabled selected>Select A Type Of Shoes</option>
                <% productTypes.forEach((productType)=>{%>
                  <option value="<%=productType._id%>"><%=productType.name%></option>
                <%})%>
            </select>
          </div>

          <div class="form-group" style="margin-bottom: 10px;">
            <label for="exampleFirstName" class="font-weight-bold">Size Of Shoes:</label>
            <input type="text" name="sizes" class="form-control" placeholder="separate with a comma">
          </div>
          
          

          <div class="form-group" style="padding-bottom: 0px;margin-bottom: 0px;">
            <label for="exampleFirstName" class="font-weight-bold">Shoes Price:</label>
          </div>

          <div class="form-group row" style="padding-top: 0px; margin-top: 0px;">
            <div class="col-sm-6 mb-3 mb-sm-0">
                <input type="number" name="price" class="form-control form-control-user" placeholder="Price">
              </div>
              <div class="col-sm-6">
                <input type="number" name="discount" class="form-control form-control-user" placeholder="Discount">
              </div>
          </div>

          <div class="form-group">
            <label for="exampleFirstName" class="font-weight-bold">Shoes Promotion:</label>
            <input type="text" name="promotion" class="form-control form-control-user" placeholder="enter promotion by text">
          </div>

          <div>
            <div class="form-group inputImage">
                <div>
                    <h6 class="font-weight-bold" class="font-weight-bold">Shoes images:</h6>
                </div>            
                <input name="thumbnails" class="form-control imageFile inputFileBox" type="file" accept=".png,.jpg" multiple>
            </div>
          </div>
          <button type="submit" class="btn btn-primary btn-block" style="color: aliceblue;">
            Add Shoes
          </button>
      </form>
    </div>
  </div>
