<!-- Page Heading -->
<div class="text-center">
    <h1 class="h4 text-gray-900 mb-4">Add Reference</h1>
  </div>
  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-body">
      <form onsubmit="return validateForm()" name="productForm" action="/admin/san-pham/them-san-pham" method="POST" enctype="multipart/form-data">

          <div class="form-group">
            <label for="exampleFirstName" class="font-weight-bold">Product Name:</label>
            <input type="text" name="name" class="form-control form-control-user" id="exampleFirstName" placeholder="Name">
          </div>

          <div class="form-group" style="margin-bottom: 10px;">
            <label for="exampleFirstName" class="font-weight-bold">Product Description:</label>
            <textarea name="description" class="form-control form-control-user" id="" cols="30" rows="8" placeholder="Description..."></textarea>
          </div>

          <div class="form-group" style="margin-bottom: 10px;">
            <label for="exampleFirstName" class="font-weight-bold">Product Category:</label>
            <select name="idCategory" class="form-control form-control-user" id="">
                <option value="" disabled selected>Select Category</option>
                  <option value="">option</option>
            </select>
          </div>
          
          <div class="form-group" style="padding-bottom: 0px;margin-bottom: 0px;">
              <label for="exampleFirstName" class="font-weight-bold">Product Price:</label>
          </div>

          <div class="form-group row" style="padding-top: 0px; margin-top: 0px;">
            <div class="col-sm-6 mb-3 mb-sm-0">
                <input type="number" name="price" class="form-control form-control-user" placeholder="Price">
              </div>
              <div class="col-sm-6">
                <input type="number" name="discount" class="form-control form-control-user" placeholder="Discount Price">
              </div>
          </div>

          <div>
            <div class="form-group inputImage">
                <div>
                    <h6 class="font-weight-bold" class="font-weight-bold">Product images:</h6>
                </div>            
                <input name="image" class="form-control imageFile inputFileBox" type="file">
                <button class="btn btn-primary" onclick="duplicate(this)" type="button">More</button>
                <button class="btn btn-primary" onclick="remove(this)" type="button">Remove</button>
            </div>
          </div>

          <button type="submit" class="btn btn-primary btn-block" style="color: aliceblue;">
            Create Product
          </button>
      </form>
    </div>
</div>
