<!-- Page Heading -->

<h1 class="h3 mb-2 text-gray-800">Danh Sách Sản Phẩm</h1>

<!-- DataTales Example -->
<div class="card shadow mb-4">
<div class="card-header py-3">
  <h6 class="m-0 font-weight-bold text-primary">Danh Sách Sản Phẩm</h6>
</div>
<div class="card-body">
  <div class="table-responsive">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
      <thead>
        <tr>
          <th>STT</th>
          <th>Hình Ảnh</th>
          <th>Tên Sản Phẩm</th>
          <th>Trạng Thái</th>
          <th>Xóa</th>
          <th>Sửa</th>
        </tr>
      </thead>
      <tbody>
        <% products.forEach((product,index)=>{ %>
          <tr>
            <td><%=index+1%></td>
            <td><%=product.thumbnail[0]%></td>
            <td><%=product.name%></td>
            <td><%=product.status%></td>
            <td><button class="btn btn-danger" onclick="deleteProduct(this)" idProduct="<%=product._id%>">Xóa</button></td>
            <td><a class="btn btn-warning"  href="/admin/product/update-product/<%=product._id%>" >Sửa</a></td>
          </tr>
        <% }) %>
        
      </tbody>
    </table>
  </div>
</div>
</div>

<script>
function deleteProduct(element){
  idProduct=element.getAttribute("idProduct");
  $.ajax({
    url: '../../product/delete-product/'+idProduct,
    method: 'DELETE',
    dataType:'json',
    cache: false,
    success:  (res) => {
      element.parentNode.parentNode.style.display="none";
    },
  });
}


</script>