<!-- Page Heading -->

<div>
    <div id="modal-update-producer" style="display: none;" class="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header" style="border-bottom: 0px;">
                <h5 class="modal-title" id="exampleModalLabel">Cập Nhật Nhà Sản Xuất</h5>
            </div>
            <div class="form-group" style="padding-left: 12px; padding-right: 12px;">
              <input type="text" class="form-control" id="newProducerName" placeholder="Tên nhà sản xuất mới">
            </div>
            <input type="hidden" id="idProducerUpdate" value="">
            <div class="modal-footer">
                <button class="btn btn-primary" onclick="updateProducer()" href="#">Cập Nhật</button>
                <button class="btn btn-warning" onclick="closeUpdateProducerModal()" >Đóng</button>
            </div>
            </div>
        </div>
    </div>
</div>


<div>
    <div id="modal-add-new-producer" style="display: none;" class="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header" style="border-bottom: 0px;">
                <h5 class="modal-title" id="exampleModalLabel">Thêm Mới Nhà Sản Xuất</h5>
            </div>
            <div class="form-group" style="padding-left: 12px; padding-right: 12px;">
              <input type="text" class="form-control" id="newProducerNameToAdd" placeholder="Tên nhà sản xuất">
            </div>
            <input type="hidden" id="idProducerUpdate" value="">
            <div class="modal-footer">
                <button class="btn btn-primary" onclick="addNewProducer()" href="#">Thêm Mới</button>
                <button class="btn btn-warning" onclick="closeAddNewProducerModal()" >Đóng</button>
            </div>
            </div>
        </div>
    </div>
</div>

<div class="h3 mb-2" align="right">
    <button class="btn btn-primary" onclick="handleAddNewProducerButton()" href="#">Add New Producer</button>
</div>

<h1 class="h3 mb-2 text-gray-800">Nhà Sản Xuất</h1>

<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Danh Sách Nhà Sản Xuất</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>STT</th>
            <th>Tên</th>
            <th>Xóa</th>
            <th>Sửa</th>
          </tr>
        </thead>
        <tbody>
          <% producers.forEach((producer,index)=>{ %>
            <tr>
              <td><%=index+1%></td>
              <td><a href="/admin/product/get-products-list-by-producer/<%=producer._id%>"><%=producer.name%></a></td>
              <td><button class="btn btn-danger" onclick="deleteProducer(this)" idProducer="<%=producer._id%>">Xóa</button></td>
              <td><button class="btn btn-warning" onclick="handleUpdateButton(this)" producerName="<%=producer.name%>" idProducer="<%=producer._id%>" >Sửa</button></td>
            </tr>
          <% }) %>
          
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
  function deleteProducer(element){
    idProducer=element.getAttribute("idProducer");
    $.ajax({
      url: '../../admin/producer/delete-producer/'+idProducer,
      method: 'DELETE',
      dataType:'json',
      cache: false,
      success:  (res) => {
        element.parentNode.parentNode.style.display="none";
      },
    });
  }

  function handleUpdateButton(element){
    var idProducer=element.getAttribute("idProducer");
    var producerName= element.getAttribute("producerName");
    document.getElementById("idProducerUpdate").value=idProducer;
    document.getElementById("modal-update-producer").style.display="block";

  }

  function updateProducer(){
    var idProducerUpdate=document.getElementById("idProducerUpdate").value;
    $.ajax({
      url: '../../admin/producer/update-producer/'+idProducerUpdate,
      method: 'Put',
      dataType:'json',
      data:{"name":document.getElementById("newProducerName").value},
      cache: false,
      success:  (res) => {
        location.reload();
      },
    });
  }

  function closeUpdateProducerModal(){
    document.getElementById("modal-update-producer").style.display="none";
  } 

  function handleAddNewProducerButton(){
    document.getElementById("modal-add-new-producer").style.display="block";
  }

  function closeAddNewProducerModal(){
    document.getElementById("modal-add-new-producer").style.display="none";
  }

  function addNewProducer(){
    $.ajax({
      url: '../../admin/producer/add-producer',
      method: 'Post',
      dataType:'json',
      data:{"name":document.getElementById("newProducerNameToAdd").value},
      cache: false,
      success:  (res) => {
        location.reload();
      },
    });
  }
 
    

</script>