<!-- Page Heading -->

<div>
    <div id="modal-update-product-type" style="display: none;" class="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header" style="border-bottom: 0px;">
                <h5 class="modal-title" id="exampleModalLabel">Cập Nhật Loại Giày</h5>
            </div>
            <div class="form-group" style="padding-left: 12px; padding-right: 12px;">
              <input type="text" class="form-control" id="newProductTypeName" placeholder="Tên Loại Giày mới">
            </div>
            <input type="hidden" id="idProductTypeUpdate" value="">
            <div class="modal-footer">
                <button class="btn btn-primary" onclick="updateProductType()" href="#">Cập Nhật</button>
                <button class="btn btn-warning" onclick="closeUpdateProductTypeModal()" >Đóng</button>
            </div>
            </div>
        </div>
    </div>
</div>


<div>
    <div id="modal-add-new-product-type" style="display: none;" class="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header" style="border-bottom: 0px;">
                <h5 class="modal-title" id="exampleModalLabel">Thêm Mới Loại Giày</h5>
            </div>
            <div class="form-group" style="padding-left: 12px; padding-right: 12px;">
              <input type="text" class="form-control" id="newProductTypeNameToAdd" placeholder="Tên Loại Giày">
            </div>
            <input type="hidden" id="idProductTypeUpdate" value="">
            <div class="modal-footer">
                <button class="btn btn-primary" onclick="addNewProductType()" href="#">Thêm Mới</button>
                <button class="btn btn-warning" onclick="closeAddNewProductTypeModal()" >Đóng</button>
            </div>
            </div>
        </div>
    </div>
</div>

<div class="h3 mb-2" align="right">
    <button class="btn btn-primary" onclick="handleAddNewProductTypeButton()" href="#">Add New Product Type</button>
</div>

<h1 class="h3 mb-2 text-gray-800">Loại Giày</h1>

<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Danh Sách Loại Giày</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>STT</th>
            <th>Tên</th>
            <th>Xóa</th>
            <th>Sửa</th>
          </tr>
        </thead>
        <tbody>
          <% productTypes.forEach((productType,index)=>{ %>
            <tr>
              <td><%=index+1%></td>
              <td><a href="/admin/product/get-products-list-by-product-type/<%=productType._id%>"><%=productType.name%></a></td>
              <td><button class="btn btn-danger" onclick="deleteProductType(this)" idProductType="<%=productType._id%>">Xóa</button></td>
              <td><button class="btn btn-warning" onclick="handleUpdateButton(this)" productTypeName="<%=productType.name%>" idProductType="<%=productType._id%>" >Sửa</button></td>
            </tr>
          <% }) %>
          
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
  function deleteProductType(element){
    idProductType=element.getAttribute("idProductType");
    $.ajax({
      url: '../../admin/product-type/delete-product-type/'+idProductType,
      method: 'DELETE',
      dataType:'json',
      cache: false,
      success:  (res) => {
        element.parentNode.parentNode.style.display="none";
      },
    });
  }

  function handleUpdateButton(element){
    var idProductType=element.getAttribute("idProductType");
    var ProductTypeName= element.getAttribute("productTypeName");
    document.getElementById("idProductTypeUpdate").value=idProductType;
    document.getElementById("modal-update-product-type").style.display="block";

  }

  function updateProductType(){
    var idProductTypeUpdate=document.getElementById("idProductTypeUpdate").value;
    $.ajax({
      url: '../../admin/product-type/update-product-type/'+idProductTypeUpdate,
      method: 'Put',
      dataType:'json',
      data:{"name":document.getElementById("newProductTypeName").value},
      cache: false,
      success:  (res) => {
        location.reload();
      },
    });
  }

  function closeUpdateProductTypeModal(){
    document.getElementById("modal-update-product-type").style.display="none";
  } 

  function handleAddNewProductTypeButton(){
    document.getElementById("modal-add-new-product-type").style.display="block";
  }

  function closeAddNewProductTypeModal(){
    document.getElementById("modal-add-new-product-type").style.display="none";
  }

  function addNewProductType(){
    $.ajax({
      url: '../../admin/product-type/add-product-type',
      method: 'Post',
      dataType:'json',
      data:{"name":document.getElementById("newProductTypeNameToAdd").value},
      cache: false,
      success:  (res) => {
        location.reload();
      },
    });
  }
 
    

</script>