<!-- Page Heading -->
<div class="text-center">
<h1 class="h4 text-gray-900 mb-4">Update Shoes</h1>
</div>
<!-- DataTales Example -->
<div class="card shadow mb-4">
<div class="card-body">
    <form onsubmit="return validateForm()" name="productForm" action="/admin/product/update-product" method="POST" enctype="multipart/form-data">

        <div class="form-group">
        <label for="exampleFirstName" class="font-weight-bold">Shoes Name:</label>
        <input type="text" name="name" value="<%=product.name%>" class="form-control form-control-user" id="exampleFirstName" placeholder="Name">
        </div>

        <div class="form-group">
        <label for="exampleFirstName" class="font-weight-bold">Gender:</label><br>
        <input type="radio" name="gender" value="male" class="" id="male" <% if(product.gender==='male'){%>checked<%}%>  ><label for="male">Male</label><br>
        <input type="radio" name="gender" value="female" class="" id="female" <% if(product.gender==='female'){%>checked<%}%> ><label for="female">Female</label><br>
        </div>

        <div class="form-group" style="margin-bottom: 10px;">
        <label for="exampleFirstName" class="font-weight-bold">Shoes Description:</label>
        <textarea name="description" class="form-control form-control-user" id="" cols="30" rows="8" placeholder="Description..."><%=product.description%></textarea>
        </div>

        <div class="form-group" style="margin-bottom: 10px;">
        <label for="exampleFirstName" class="font-weight-bold">Producer of shoes:</label>
        <select name="producer_id" class="form-control form-control-user" id="">
            <% producers.forEach((producer)=>{%>
                <option value="<%=producer._id%>" <% if(producer._id.equals(product.producer_id)){ %>selected<%}%> ><%=producer.name%></option>
            <%})%>
                
        </select>
        </div>

        <div class="form-group" style="margin-bottom: 10px;">
        <label for="exampleFirstName" class="font-weight-bold">Type Of Shoes:</label>
        <select name="product_type_id" class="form-control form-control-user" id="">
            <% productTypes.forEach((productType)=>{%>
                <option value="<%=productType._id%>" <% if(product.product_type_id.equals(productType._id)){ %>selected<% } %> ><%=productType.name%></option>
            <%})%>
        </select>
        </div>

        <div class="form-group" style="margin-bottom: 10px;">
            <label for="exampleFirstName" class="font-weight-bold">Size Of Shoes:</label>
            <input type="text" name="sizes" value="<%=product.sizes%>" class="form-control" placeholder="separate with a comma">
        </div>
        
        <div class="form-group" style="margin-bottom: 10px;">
            <label for="exampleFirstName" class="font-weight-bold">Status Of Shoes:</label>
            <input type="text" name="status" value="<%=product.status%>" class="form-control" placeholder="separate with a comma">
        </div>

        <div class="form-group" style="padding-bottom: 0px;margin-bottom: 0px;">
        <label for="exampleFirstName" class="font-weight-bold">Shoes Price:</label>
        </div>

        <div class="form-group row" style="padding-top: 0px; margin-top: 0px;">
        <div class="col-sm-6 mb-3 mb-sm-0">
            <input type="number" name="price" value="<%=product.price%>" class="form-control form-control-user" placeholder="Price">
            </div>
            <div class="col-sm-6">
            <input type="number" name="discount" value="<%=product.discount%>" class="form-control form-control-user" placeholder="Discount">
            </div>
        </div>

        <div class="form-group">
        <label for="exampleFirstName" class="font-weight-bold">Shoes Promotion:</label>
        <input type="text" name="promotion" value="<%=product.promotion%>" class="form-control form-control-user" placeholder="enter promotion by text">
        </div>

        <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Danh Sách Sản Phẩm</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
            <table class="table table-bordered" style="table-layout: fixed;" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>STT</th>
                    <th width="400px">Tên</th>
                    <th width="250px">Hình Ảnh</th>
                    <th>Xóa</th>
                </tr>
                </thead>
                <tbody>
                <% product.thumbnail.forEach((thumbnail,index)=>{ %>
                    <tr>
                    <td><%=index+1%></td>
                    <td width="400px"><%=thumbnail%></td>
                    <td width="250px"><img src="/upload/product_thumbnails/<%=thumbnail%>" alt="" width="200px" height="200px" ></td>
                    <td><button type="button" class="btn btn-danger" onclick="deleteAnThumbnail(this)" idProduct="<%=product._id%>" thumbnail="<%=thumbnail%>">Xóa</button></td>
                    </tr>
                <% }) %>
                </tbody>
            </table>
            </div>
        </div>
        </div>

        <div>
        <div class="form-group inputImage">
            <div>
                <h6 class="font-weight-bold" class="font-weight-bold">Add New Shoes images:</h6>
            </div>            
            <input name="thumbnail" class="form-control imageFile inputFileBox" type="file" accept=".png,.jpg" multiple>
        </div>
        </div>
        <input type="hidden" name="id" value="<%=product._id%>">
        <button type="submit" class="btn btn-primary btn-block" style="color: aliceblue;">
        Update Shoes
        </button>
    </form>
</div>
</div>

<script>
function deleteAnThumbnail(element){

    var idProduct=element.getAttribute("idProduct");
    var thumbnail= element.getAttribute("thumbnail");
    $.ajax({
        url: '../../product/delete-an-thumbnail/'+idProduct+'/'+thumbnail,
        method: 'DELETE',
        dataType:'json',
        cache: false,
        success:  (res) => {
            element.parentNode.parentNode.style.display="none";
        },
    });
}
</script>