body{
    box-sizing: border-box;
    margin:0px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

h1,h2,h3,h4,h5,h6,div,p,ul{
    margin: 0px;
    padding:0;
}

a,li{
    text-decoration: none;
    list-style-type: none;
    color:black;
}

.clear-float{
    clear: both;
}

/******   HEADER   ******/

/*****   TOP-Z  *****/
header{
    width:100%;
    
}

.top-z{
    display: inline-flex;
    position: relative;
    width:80%;
    margin:auto; 

}

.top-z .top-left-z{
    margin: 25px 0;
    width:40%;
}

.top-z .top-left-z > div{
    display:inline-block;  
    margin-left:15px;
    text-align: left;

}

.top-z .top-left-z > div >div{
    display:inline-block;
    margin-left:10px;
    
}

.top-z .top-left-z > div > div p{
    margin-top:8px;
}

.top-z .mid-logo{
    width: 200px;
    height:87px;
    padding: 10px 10px;
}

.top-z .mid-logo > img{
    width:100%;
    height:100%;
}

.top-z .right-column{
    position:absolute;
    padding: 35px 15px 35px 0px;
    right:0px;
}

.top-z .right-column >a{
    text-decoration: none;
    color:black;
    padding: 0px 10px;
}

.top-z .search-top{
    position: absolute;
    display:none;
    top:70px;
    right: 180px;
    padding:20px 70px 20px 20px; 
    background-color:#F7F7F7;
}

.top-z .search-top form{
    display: inline;
}

.top-z .search-top .input-search{
    height:40px;
    width:185px;
}

.top-z .search-top  button{
    position: absolute;
    height: 40px;
    width: 50px;
    padding:0px;
    color:white;
    background-color:#DD3333;
    border:none;
}

/*****   MENU   ******/
.top-menu .menu-menu{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.top-menu .menu-menu .menu-iner{
    display:inline-block;
    text-decoration: none;
    padding: 15px 10px;
}

.top-menu .menu-menu .menu-iner a{
    text-decoration: none;
    color:black;    
}

.top-menu .menu-menu .menu-iner .fa-chevron-down{
    font-size: 9px;
    opacity: 0.3;
    color: black;
}

.top-menu .menu-menu .menu-iner .iner-item{
    position: absolute;
    display:none;
    text-align: left;
    padding:15px 20px 15px 20px;
    transform: translate(-20px,16px);
    background-color:white;
    box-shadow: 0 0 2px rgba(0,0,0,.1);
    z-index: 99;
}

.top-menu .menu-menu .menu-iner:hover > a{
    color:#BC0000;
}

.top-menu .menu-menu .menu-iner:hover .iner-item{
    display: block;
    transition: all 0.25s ease 0.1s;
}

.top-menu .menu-menu .menu-iner .iner-item-sneaker{
    padding-right:70px;
}

.top-menu .menu-menu .menu-iner .iner-item li{
    padding: 10px 0;
}

.top-menu .menu-menu .menu-iner .iner-item li:hover{
    color:#BC0000;
    transform: translateX(5px);
    transition: all 0.2s ease-in-out;
}
.top-menu .menu-menu .menu-iner .iner-item li:hover a{
    color:#BC0000;
}

/*  link-bill  */
.title-bill{
    background-color:#212121;
}

.title-bill h1{
    padding:15px 0 10px 0;
    color:white;
    font-weight: 400;
}

.title-bill .link-home{
    padding-bottom:15px;
    color:white;
    font-size:18px;
}

.title-bill .link-home a{
    color:white;
    font-size:18px;
    margin:0 5px;
}

.title-bill .link-home a:hover{
    text-decoration: underline;
}

.title-bill .link-home .iner-link-home{
    padding-left:5px;
}

/*bill bill*/
.bill-bill{
    width:80%;
    margin:auto;
    margin-top:60px;
}
/* left bill*/
.bill-bill .left-bill{
    float: left;
    width:50%;
}

.bill-bill .left-bill > h2{
    text-align: left;
}

.bill-bill .left-bill .infor-customer{
    margin-top:30px;
    text-align:left;
}

.bill-bill .left-bill .infor-customer p span{
    color:red;
}

.bill-bill .left-bill .nation-customer p:last-child{
    margin-top:10px;
}

.bill-bill .left-bill .infor-customer input{
    margin-top:10px;
    width:95%;
    height:30px;
    border: 1px solid rgba(129,129,129,.25);
    font-size: 16px;
}

.bill-bill .left-bill .infor-customer .size-input{
    height: 50px;
    font-size: 16px;
}

.bill-bill .left-bill .size-customer select{
    margin-top:10px;
    width:50px;
    border: 1px solid rgba(129,129,129,.25);
}

/*right bill*/
.bill-bill .right-bill{
    float:right;
    width:50%;
    background-color:#F2F2F2;
}

.bill-bill .right-bill > h2{
    margin-top: 20px;
}

.bill-bill .right-bill .table-detail-bill{
    width:90%;  
    margin:auto;
    margin-top:30px;
}

.bill-bill .right-bill .table-detail-bill >div{
    border-bottom: 1px solid #E6E6E6;
}

.bill-bill .right-bill .table-detail-bill .row-detail .left-row-detail{
    float:left;
    width:50%;
    text-align:left;
    padding:10px 0;
}

.bill-bill .right-bill .table-detail-bill .row-detail .right-row-detail{
    float:right;
    width:50%;
    text-align:right;
    padding:10px 0;
}

.bill-bill .right-bill .table-detail-bill .row-detail .right-row-detail h3,p{
    height: 100%;
}

.bill-bill .right-bill .delivery-method{
    text-align: left;
    
}

.bill-bill .right-bill input{
    text-align:left;
    margin-left:20px;
    margin-top:50px;
}

.bill-bill .right-bill .submit{
    display: block;
    border: none;
    padding: 10px 20px;
    background-color: #ECECEC;
    margin-left: 20px;
    margin-top: 50px;
    margin-bottom: 30px;
    cursor: pointer;
    color: #3E3E3E;
    font-size: 16px;
}

.bill-bill .right-bill .submit:hover {
    background-color: #3E3E3E;
    color: #ECECEC;
}
