body{
    box-sizing: border-box;
    margin:0px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

h1,h2,h3,h4,h5,h6,div,p,ul{
    margin: 0px;
    padding:0;
}

a,li{
    text-decoration: none;
    list-style-type: none;
    color:black;
}

.clear-float{
    clear: both;
}

/******   HEADER   ******/

/*****   TOP-Z  *****/
header{
    width:100%;
    
}

.top-z{
    display: inline-flex;
    position: relative;
    width:80%;
    margin:auto; 

}

.top-z .top-left-z{
    margin: 25px 0;
    width:40%;
}

.top-z .top-left-z > div{
    display:inline-block;  
    margin-left:15px;
    text-align: left;

}

.top-z .top-left-z > div >div{
    display:inline-block;
    margin-left:10px;
    
}

.top-z .top-left-z > div > div p{
    margin-top:8px;
}

.top-z .mid-logo{
    width: 200px;
    height:87px;
    padding: 10px 10px;
}

.top-z .mid-logo > img{
    width:100%;
    height:100%;
}

.top-z .right-column{
    position:absolute;
    padding: 35px 15px 35px 0px;
    right:0px;
}

.top-z .right-column >a{
    text-decoration: none;
    color:black;
    padding: 0px 10px;
}

.top-z .search-top{
    position: absolute;
    display:none;
    top:70px;
    right: 180px;
    padding:20px 70px 20px 20px; 
    background-color:#F7F7F7;
}

.top-z .search-top form{
    display: inline;
}

.top-z .search-top .input-search{
    height:40px;
    width:185px;
}

.top-z .search-top  button{
    position: absolute;
    height: 40px;
    width: 50px;
    padding:0px;
    color:white;
    background-color:#DD3333;
    border:none;
}

/*****   MENU   ******/
.top-menu .menu-menu{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.top-menu .menu-menu .menu-iner{
    display:inline-block;
    text-decoration: none;
    padding: 15px 10px;
}

.top-menu .menu-menu .menu-iner a{
    text-decoration: none;
    color:black;    
}

.top-menu .menu-menu .menu-iner .fa-chevron-down{
    font-size: 9px;
    opacity: 0.3;
    color: black;
}

.top-menu .menu-menu .menu-iner .iner-item{
    position: absolute;
    display:none;
    text-align: left;
    padding:15px 20px 15px 20px;
    transform: translate(-20px,16px);
    background-color:white;
    box-shadow: 0 0 2px rgba(0,0,0,.1);
    z-index: 99;
}

.top-menu .menu-menu .menu-iner:hover > a{
    color:#BC0000;
}

.top-menu .menu-menu .menu-iner:hover .iner-item{
    display: block;
    transition: all 0.25s ease 0.1s;
}

.top-menu .menu-menu .menu-iner .iner-item-sneaker{
    padding-right:70px;
}

.top-menu .menu-menu .menu-iner .iner-item li{
    padding: 10px 0;
}

.top-menu .menu-menu .menu-iner .iner-item li:hover{
    color:#BC0000;
    transform: translateX(5px);
    transition: all 0.2s ease-in-out;
}
.top-menu .menu-menu .menu-iner .iner-item li:hover a{
    color:#BC0000;
}


/****** information and detail   ******/
.content-product{
    margin:auto;
    margin-top:30px;
    width:80%;

}

.content-product .content-left{
    position: relative;
    float:left;
    width:50%;
}

.content-product .content-left .img-biggest{
    width:100%;
    height:auto;
}

.content-product .content-left .img-biggest img{
    width:100%;
    height:auto; 
}   

.content-product .content-left .img-control{
    position: relative;
    text-align: left;   
    margin-top:5px;
    width:100%
}

.content-product .content-left .img-control img{
    width:20%;
    padding-right:15px;
    cursor: pointer;
}

.content-product .content-left .img-control img:hover{
    opacity: 0.6;
}

.content-product .content-left .img-control .but-control{
    position: absolute;
    right:5px;
    background-color:white;
    top:40px;
}

.content-product .content-left .img-control .but-control i{
    padding: 10px;
    font-size:20px;
    cursor: pointer;
    color:#848484;
}

.content-product .content-right{
    float:right;
    width:50%;
    text-align: left;
    
}

.content-product .content-right .into-right{
    margin-left:30px;
}

.content-product .content-right .into-right p{
    margin-top:10px;
    margin-bottom:10px;
}

.content-product .content-right .into-right p .before-sale{
    text-decoration: line-through;
    color:#848484;  

}

.content-product .content-right .into-right p .sale{
    font-size:28px;
    color:hsl(0,71%,53%);
}

.content-product .content-right .into-right #action-buy{
    color:white;
    font-size:16px;
    background-color:hsl(0,71%,53%);
    border:none;
    padding:10px;
    margin-top:15px;
    cursor: pointer;
}

.content-product .content-right .into-right .contact{
    background-color:#0fa8e2;
    color:white;
    padding:8px;
    margin-left:15px;
}

.content-product .content-right .into-right .promotion{
    margin-top:15px;
    padding:15px;
    border: 1px hsl(0,71%,53%) dashed;
}

.content-product .content-right .into-right .promotion p{
    font-size:20px;
    font-weight: 700;
}

.content-product .content-right .into-right .promotion li{
    margin-top:5px;
}

.content-product .content-right .into-right .promotion li i{
    color:hsl(85,74%,45%);
    background-color:white;
    font-size:18px;
    margin-right:10px;
}
.content-product .content-right .into-right .tagg{
    margin-top:10px;
    font-weight: 600;
}

.content-product .content-right .into-right .tagg span{
    margin-left:5px;
    opacity: 0.5;
}
.content-product .content-right .into-right .tagg a{
    margin-left:5px;
    opacity: 0.5;
}

.content-product .content-right .into-right .tagg a:hover{
    text-decoration: underline; 
}


/*******  description and size  *******/
.description-size{
    background-color:hsl(0,0%,96%);
    margin-top:50px;
    color:hsl(0,0%,20%);
}

.description-size .control-des-size h3{
    display: inline-block;
    padding:0px 15px;
    margin-top:30px;
    margin-bottom:25px;
    cursor: pointer;
}
/** description **/
.description-size .description{
    width:80%;
    margin:auto;
}

.description-size .description >img{
    width:100%;
    margin:10px 0;  
}
/** size  **/
.description-size .size{
    text-align:left;
    width:80%;
    margin:auto;
}

.description-size .size > img{
    display:block;
    margin:auto;
    margin-top:20px;
    margin-bottom:20px;
}

/***** footer *****/

footer{
    margin-top:180px;
    background-color:black;
    position: relative;
    color: white;
}

footer .foo-logo img{
    color:white;
    width:20%;
    height:auto;
    margin-top:30px;
}

footer .contact i{
    font-size:25px;
    color:rgba(255,255,255,.6);
    padding:15px 10px;
}

footer .contact i:hover{
    color:white;
}

footer .foo-list{
    height:330px;
    
}

footer .foo-list .foo-col{
    display:inline-block;
    padding: 10px 10px;
}

footer .foo-list .foo-col h3{
    text-align:left;
}

footer .foo-list .foo-col ul{
    margin-top: 20px;   
}

footer .foo-list .foo-col ul li{
    color:white;
    text-align: left;
    padding:5px 0;
}

footer .foo-list .foo-col ul li:hover{
    text-decoration: underline;
}

footer .foo-list .foo-col ul li a{
    color:rgba(255,255,255,.6);
} 

footer .foo-list .foo-col ul li:hover a{
    color:white;
}

footer .foo-list .foo-col-last{
    width: 400px;
    text-align: left;
}

footer .foo-list .foo-col-last >p{
    padding: 3px 0;
    color:rgba(255,255,255,.6);
}

footer .foo-list .foo-col-last .infor-more >div{
    margin-top:5px;
    color:rgba(255,255,255,.6);
}

footer .foo-list .foo-col-last .infor-more  a{
    color:rgba(255,255,255,.6);
}

footer .foo-list .foo-col-last .infor-more  a:hover{
    text-decoration: underline;
    color:white;
}

footer .foo-foo-last{
    width:80%;
    margin:auto;
    border-top:1px solid rgba(255,255,255,.1);
}

footer .foo-foo-last p{
    padding:15px 0;
    color:rgba(255,255,255,.6);
}

footer .foo-foo-last p a{
    color:rgba(255,255,255,.6);
}

footer .foo-foo-last p a:hover{
    color:white;
    text-decoration: underline;
}

