    @media screen and (max-width: 1024px){


    .content-product{
        width: 90%;
    }

    .description-size{
        padding-bottom: 50px;
    }

    .description-size .description{
        width: 90%;
    }

    .description-size .size{
        width: 90%;
        margin: auto;
        
    }

    .description-size .size > img{
        width: 80%;
    }

    
}