body{
    box-sizing: border-box;
    margin:0px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

h1,h2,h3,h4,h5,h6,div,p,ul{
    margin: 0px;
    padding:0;
}

a,li{
    text-decoration: none;
    list-style-type: none;
    color:black;
}

.clear-float{
    clear: both;
}

/******   HEADER   ******/

/*****   TOP-Z  *****/
header{
    width:100%;
    
}

.top-z{
    display: inline-flex;
    position: relative;
    width:80%;
    margin:auto; 

}

.top-z .top-left-z{
    margin: 25px 0;
    width:40%;
}

.top-z .top-left-z > div{
    display:inline-block;  
    margin-left:15px;
    text-align: left;

}

.top-z .top-left-z > div >div{
    display:inline-block;
    margin-left:10px;
    
}

.top-z .top-left-z > div > div p{
    margin-top:8px;
}

.top-z .mid-logo{
    width: 200px;
    height:87px;
    padding: 10px 10px;
}

.top-z .mid-logo > img{
    width:100%;
    height:100%;
}

.top-z .right-column{
    position:absolute;
    padding: 35px 15px 35px 0px;
    right:0px;
}

.top-z .right-column >a{
    text-decoration: none;
    color:black;
    padding: 0px 10px;
}

.top-z .search-top{
    position: absolute;
    display:none;
    top:70px;
    right: 180px;
    padding:20px 70px 20px 20px; 
    background-color:#F7F7F7;
}

.top-z .search-top form{
    display: inline;
}

.top-z .search-top .input-search{
    height:40px;
    width:185px;
}

.top-z .search-top  button{
    position: absolute;
    height: 40px;
    width: 50px;
    padding:0px;
    color:white;
    background-color:#DD3333;
    border:none;
}

/*****   MENU   ******/
.top-menu .menu-menu{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.top-menu .menu-menu .menu-iner{
    display:inline-block;
    text-decoration: none;
    padding: 15px 10px;
}

.top-menu .menu-menu .menu-iner a{
    text-decoration: none;
    color:black;    
}

.top-menu .menu-menu .menu-iner .fa-chevron-down{
    font-size: 9px;
    opacity: 0.3;
    color: black;
}

.top-menu .menu-menu .menu-iner .iner-item{
    position: absolute;
    display:none;
    text-align: left;
    padding:15px 20px 15px 20px;
    transform: translate(-20px,16px);
    background-color:white;
    box-shadow: 0 0 2px rgba(0,0,0,.1);
    z-index: 99;
}

.top-menu .menu-menu .menu-iner:hover > a{
    color:#BC0000;
}

.top-menu .menu-menu .menu-iner:hover .iner-item{
    display: block;
    transition: all 0.25s ease 0.1s;
}

.top-menu .menu-menu .menu-iner .iner-item-sneaker{
    padding-right:70px;
}

.top-menu .menu-menu .menu-iner .iner-item li{
    padding: 10px 0;
}

.top-menu .menu-menu .menu-iner .iner-item li:hover{
    color:#BC0000;
    transform: translateX(5px);
    transition: all 0.2s ease-in-out;
}
.top-menu .menu-menu .menu-iner .iner-item li:hover a{
    color:#BC0000;
}

/*****   SLIDE-ACTION   *****/
.slide-action .slide{
    position: relative;
    background-color:rgb(235, 237, 226);
    height:600px;
    width:100%;
}

.slide-action .slide .slide-into{
    position: absolute;
    bottom:120px;
   
}

.slide-action .slide .first-img{
    margin: 0 40px;
    width: 22%;
    height: auto;
}

.slide-action .slide .text-slide{
    font-size: 50px;
    padding-top:20px;   
}

.slide-action .slide .text-slide-first{
    padding-top:40px;
}

.slide-action .slide-last{              /* slide 2*/
    background-color: rgb(247, 247, 247);
}

.slide-action .slide-last .slide-into-last{
    float:left;
    width: 45%;
}

.slide-action .slide-last .slide-into-last .first-slide-last{
    margin-top:15px;
    width:80%;
    height:auto;
    right:0px;
}

.slide-action .slide-last .text-slide-2{
    margin-right:160px;
}

.slide-action .slide-last .text-slide-2 >div{
    margin: 40px 0px;
}

.slide-action .slide-last .text-slide-2 .text-top{
    margin-top:0px;
    padding-top:150px;
    font-size:20px;
}

.slide-action .slide-last .text-slide-2 .text-mid > div{
    display: inline-block;
    font-size:50px;
}

.slide-action .slide-last .text-slide-2 .text-mid .mid-balen{
    color:#BC0000;
    margin-right: 10px;
}

.slide-action .slide-last .text-slide-2 .text-mid .mid-trip{
    color:#0A0A0A;
    margin-left: 10px;

}

.slide-action .slide-last .text-slide-2 .text-bottom > div{
    display:inline-block;
    font-size:16px;
    padding:15px;
}

.slide-action .slide-last .text-slide-2 .text-bottom .text-bottom-1{
    border: 2px solid black;
    background-attachment: white;
    margin-right:10px;
    cursor: pointer;
}

.slide-action .slide-last .text-slide-2 .text-bottom .text-bottom-1:hover{
    background-color:black;
    color:white;
}

.slide-action .slide-last .text-slide-2 .text-bottom .text-bottom-2{
    border: 2px solid #BC0000;
    color:#BC0000;
    margin-left:10px;
    cursor: pointer;
}

.slide-action .slide-last .text-slide-2 .text-bottom .text-bottom-2:hover{
    background-color:#BC0000;
    color:white;
}

/******  CONTENT PRODUCT  *****/
/******  product-new  ******/
.product{
    width:80%;
    text-align: center;
    margin:auto;
    margin-top:80px;
   
}

.product h2{
    color:hsl(0,71%,51%);
    font-size: 36px;
}

.product .container-pro{
    width:100%;
}

.product .product-img{
    width:24%;
    margin-top:40px;
    display: inline-block;
    position: relative;
}

.product .product-img img{
    width:100%;
    max-height: 219px;
    background-position:center;
    background-origin:content-box;
    height:auto;
    overflow: hidden;
    cursor: pointer;
}

.product .product-img .img-hover{
    position: absolute;
    top:0;
    left:0;
    opacity: 0;
    width:100%;
    z-index: -3;
    transition: opacity  ease-in-out 0.5s;
}

.product .product-img:hover .img-hover{
    opacity: 1;
    transition: opacity  ease-in-out 0.3s;
    z-index: 1;
}

.product .product-img .icon-icon{
    position: absolute;
    height:0;
    width:100%;
    background-color:black;
    transform: translateY(-40px);
    transition: height 0.3s ease;
    z-index:2;
    opacity:0.7;
}

.product .product-img:hover .icon-icon{
    height: 35px;
}

.product .product-img .icon-icon i{
    color:white;
    font-size:18px;
    margin:8px 20px;
    cursor: pointer;
}

.product .product-img .icon-icon i:hover{
    color:#D8D8D8;
    
}

.product .product-img .info{
    height:40px;
}

.product .product-img .info p{
    padding:5px 0;
    height:auto;
    font-weight: 700;
    height:35px;
    cursor: pointer;
    vertical-align: 20px;
}

.product .product-img .info span{
    padding:10px 3px;
}

.product .product-img .info .first-money{
    text-decoration: line-through;
}

.product .product-img .info .last-money{
    color:red;
}

.product .more{
    font-weight:700;
    margin:auto;
    margin-top: 50px;
    width: 130px;
    padding:10px 15px;
    border:2px solid black;
    vertical-align: center;
    cursor: pointer;
}

.product .more:hover{
    background-color:black;
    color:white;
    transition: ease 0.4s;
}


/*****  product-last    *****/
.product .title-product{
    color: black;
    font-size:42px;
}

.product .top-pro h4{
    display:inline-block;
    margin: 20px 5px 0px 5px;
}

.product .top-pro .name-type{
    cursor: pointer;
}


/******     introduction    ******/
.introduction{
    width:80%;
    margin:auto;
    margin-top:50px;
}

.introduction .left-intro{
    width:50%;
    float: left;
}

.introduction .left-intro > h3{
    font-size:28px;
    padding:15px;
    background-color: #B57B00;
    font-weight:800;
    color:white;
    opacity: 0.8;
    border-radius: 30px;
}

.introduction .left-intro p{
    margin-top:30px;
    text-align:left;
    font-weight:500;
}

.introduction .left-intro .center{
    text-align:center;
}

.introduction .left-intro > div{
    margin:auto;
    margin-top:40px;
    width:150px;
    cursor: pointer;
    opacity: 0.7;   
}

.introduction .left-intro >div:hover{
    opacity: 1;
}

.introduction .left-intro > div > p{
    margin:auto;
    font:20px;
    color:white;
    background-color: #BC0000;
    
    padding: 10px 15px;
    border-radius:20px;
    text-align: center;
}

.introduction .right-intro{
    width:50%;
    float: right;
    position: relative;
}

.introduction .right-intro img{
    position: absolute;
    width:90%;
    right:0;
    height:auto;
}


/**** FOOTER ****/
footer{
    margin-top:180px;
    background-color:black;
    position: relative;
    color: white;
}

footer .foo-logo img{
    color:white;
    width:20%;
    height:auto;
    margin-top:30px;
}

footer .contact i{
    font-size:25px;
    color:rgba(255,255,255,.6);
    padding:15px 10px;
}

footer .contact i:hover{
    color:white;
}

footer .foo-list{
    height:auto;
}

footer .foo-list .foo-col{
    display:inline-block;
    padding: 10px 10px;
    vertical-align: top;
}

footer .foo-list .foo-col h3{
    text-align:left;
}

footer .foo-list .foo-co    l ul{
    margin-top: 20px;   
}

footer .foo-list .foo-col ul li{
    color:white;
    text-align: left;
    padding:5px 0;
}

footer .foo-list .foo-col ul li:hover{
    text-decoration: underline;
}

footer .foo-list .foo-col ul li a{
    color:rgba(255,255,255,.6);
} 

footer .foo-list .foo-col ul li:hover a{
    color:white;
}

footer .foo-list .foo-col-last{
    display:inline-block;
    width:30%;
    text-align: left;
}

footer .foo-list .foo-col-last >p{
    padding: 3px 0;
    color:rgba(255,255,255,.6);
}

footer .foo-list .foo-col-last .infor-more >div{
    margin-top:5px;
    color:rgba(255,255,255,.6);
}

footer .foo-list .foo-col-last .infor-more  a{
    color:rgba(255,255,255,.6);
}

footer .foo-list .foo-col-last .infor-more  a:hover{
    text-decoration: underline;
    color:white;
}

footer .foo-foo-last{
    width:80%;
    margin:auto;
    border-top:1px solid rgba(255,255,255,.1);
}

footer .foo-foo-last p{
    padding:15px 0;
    color:rgba(255,255,255,.6);
}

footer .foo-foo-last p a{
    color:rgba(255,255,255,.6);
}

footer .foo-foo-last p a:hover{
    color:white;
    text-decoration: underline;
}





