<!--***** SLIDE *****-->
<section class="slide-action">
    <div class="slide" >
       <div class="slide-into">
            <img class="first-img img-1" src="./asset/image/slide/slide_1/1.png" alt="1">
            <img class="first-img img-2" src="asset/image/slide/slide_1/2.png" alt="2">
            <img class="first-img img-3" src="./asset/image/slide/slide_1/1.png" alt="1">
       </div>
       <div class="text-slide text-slide-first">ADIDAS YEEZY BOOST</div>
       <div class="text-slide">350 V2</div>
       <div class="text-slide">BLACK & BLACK RF</div>
    </div>

    <div class="slide slide-last">
        <div class="slide-into-last">
            <img class="first-slide-last" src="./asset/image/slide/slide_2/1.png" alt="1">
        </div>
        <div class="text-slide-2">
            <div class="text-top">BỘ SƯU TẬP</div>
            <div class="text-mid">
                <div class="mid-balen">BALENCIAGA</div>
                <div class="mid-trip">TRIPLES</div>
            </div>
            <div class="text-bottom">
                <div class="text-bottom-1">KHÁM PHÁ NGAY</div>
                <div class="text-bottom-2">MẪU HOT NHẤT</div>
            </div>
        </div>
        <div class="clear-float"></div>
    </div>
</section>
<!--***** CONTENT-PRODUCT   *****8-->
<!--*****  product-new   ******-->
<div class="product">
    <h2>Hàng mới về</h2>
    <div class="container-pro ">
        <div class="product-img new">
            <img src="./asset/image/product-new/balenciaga-track-3-black/balenciaga-track-3-black-replica.jpg" alt="balenciaga-track-3-black">
            <img class="img-hover" src="asset/image/product-new/balenciaga-track-3-black/balenciaga-track-3-triple-black-replica-4.jpg" alt="balenciaga-track-3-black-4">
            <div class="icon-icon"> 
                <i class="fas fa-cart-arrow-down"></i>
                <i class="fas fa-search-plus"></i>
            </div>
            <div class="info">
                <p>balenciaga-track-3-black</p>
                <span class="first-money">4.000.000 đ</span>
                <span class="last-money">2.490.000 đ</span>
            </div>
        </div>
        <div class="product-img new">
            <img src="./asset/image/product-new/balenciaga-track-3-orange/balenciaga-track-3-orange-replica.jpg" alt="balenciaga-track-3-orange">
            <img class="img-hover" src="./asset/image/product-new/balenciaga-track-3-orange/balenciaga-track-3.0-orange-replica-4.jpg" alt="balenciaga-track-3-orange-4">
            <div class="icon-icon"> 
                <i class="fas fa-cart-arrow-down"></i>
                <i class="fas fa-search-plus"></i>
            </div>
            <div class="info">
                <p>balenciaga-track-3-Oranged</p>
                <span class="first-money">4.000.000 đ</span>
                <span class="last-money">2.490.000 đ</span>
            </div>
        </div>
        <div class="product-img new">
            <img src="./asset/image/product-new/balenciaga-track-3-green-replica-300x300/balenciaga-track-3-green-replica-300x300.jpg"
            alt="balenciaga-track-3-green">
            <div class="icon-icon"> 
                <i class="fas fa-cart-arrow-down"></i>
                <i class="fas fa-search-plus"></i>
            </div>
            <div class="info">
                <p>balenciaga-track-3-Green White Black</p>
                <span class="first-money">4.000.000 đ</span>
                <span class="last-money">2.490.000 đ</span>
            </div>
        </div>
        <div class="product-img new">
            <img src="./asset/image/product-new/balenciaga-track-3-yellow/balenciaga-track-3-yellow-replica.jpg" alt="balenciaga-track-3-yellow">
            <img class="img-hover" src="./asset/image/product-new/balenciaga-track-3-yellow/balenciaga-track-3-yellow-replica-2.jpg" alt="balenciaga-track-3-yellow-2">
            <div class="icon-icon"> 
                <i class="fas fa-cart-arrow-down"></i>
                <i class="fas fa-search-plus"></i>
            </div>
            <div class="info">
                <p>balenciaga-track-3-Green White Yellow</p>
                <span class="first-money">4.000.000 đ</span>
                <span class="last-money">2.490.000 đ</span>
            </div>
        </div>
        <div class="product-img new">
            <img src="./asset/image/product-new/balenciaga-track-3-black/balenciaga-track-3-black-replica.jpg" alt="balenciaga-track-3-black">
            <img class="img-hover" src="asset/image/product-new/balenciaga-track-3-black/balenciaga-track-3-triple-black-replica-4.jpg" alt="balenciaga-track-3-black-4">
            <div class="icon-icon"> 
                <i class="fas fa-cart-arrow-down"></i>
                <i class="fas fa-search-plus"></i>
            </div>
            <div class="info">
                <p>balenciaga-track-3-black</p>
                <span class="first-money">4.000.000 đ</span>
                <span class="last-money">2.490.000 đ</span>
            </div>
        </div>
        <div class="product-img new">
            <img src="./asset/image/product-new/balenciaga-track-3-orange/balenciaga-track-3-orange-replica.jpg" alt="balenciaga-track-3-orange">
            <img class="img-hover" src="./asset/image/product-new/balenciaga-track-3-orange/balenciaga-track-3.0-orange-replica-4.jpg" alt="balenciaga-track-3-orange-4">
            <div class="icon-icon"> 
                <i class="fas fa-cart-arrow-down"></i>
                <i class="fas fa-search-plus"></i>
            </div>
            <div class="info">
                <p>balenciaga-track-3-Oranged</p>
                <span class="first-money">4.000.000 đ</span>
                <span class="last-money">2.490.000 đ</span>
            </div>
        </div>
        <div class="product-img new">
            <img src="./asset/image/product-new/balenciaga-track-3-green-replica-300x300/balenciaga-track-3-green-replica-300x300.jpg" alt="balenciaga-track-3-green">
            <div class="icon-icon"> 
                <i class="fas fa-cart-arrow-down"></i>
                <i class="fas fa-search-plus"></i>
            </div>
            <div class="info">
                <p>balenciaga-track-3-Green White Black</p>
                <span class="first-money">4.000.000 đ</span>
                <span class="last-money">2.490.000 đ</span>
            </div>
        </div>
        <div class="product-img new">
            <img src="./asset/image/product-new/balenciaga-track-3-yellow/balenciaga-track-3-yellow-replica.jpg" alt="balenciaga-track-3-yellow">
            <img class="img-hover" src="./asset/image/product-new/balenciaga-track-3-yellow/balenciaga-track-3-yellow-replica-2.jpg" alt="balenciaga-track-3-yellow-2">
            <div class="icon-icon"> 
                <i class="fas fa-cart-arrow-down"></i>
                <i class="fas fa-search-plus"></i>
            </div>
            <div class="info">
                <p>balenciaga-track-3-Green White Yellow</p>
                <span class="first-money">4.000.000 đ</span>
                <span class="last-money">2.490.000 đ</span>
            </div>
        </div>
    </div>
    <div class="more" id="click-new">XEM THÊM</div>
</div>

<!--***** product adidas  ******-->
<div class="product">
    <h2 class="title-product">Giày Adidas</h2>
    <div class="top-pro">
        <h4 class="name-type name-type-adidas" id="type-yeezy" onclick="clickAdidas(0)">YEEZY</h4>
        <h4>/</h4>
        <h4 class="name-type name-type-adidas" id="type-alphabounce" onclick="clickAdidas(1)">ALPHABOUNCE</h4>
        <h4>/</h4>
        <h4 class="name-type name-type-adidas" id="type-ultra-boost" onclick="clickAdidas(2)">ULTRA BOOST</h4>
    </div>
    <!-- YEEZY -->
    <div class="type-product adidas" id="product-yeezy">
        <div class="container-pro">
            <div class="product-img yeezy">
                <img src="./asset/image/product-adidas/yeezy/salt/adidas-Yeezy-Boost-700-salt-replica.jpg" alt="Yeezy-Boost-700-salt">
                <img class="img-hover" src="asset/image/product-adidas/yeezy/salt/adidas-yeezy-700-salt-replica-3.jpg" alt="Yeezy-Boost-700-salt-3">
                <div class="icon-icon"> 
                    <i class="fas fa-cart-arrow-down"></i>
                    <i class="fas fa-search-plus"></i>
                </div>
                <div class="info">
                    <p>Yeezy-Boost-700-salt</p>
                    <span class="first-money">2.500.000 đ</span>
                    <span class="last-money">1.490.000 đ</span>
                </div>
            </div>
            <div class="product-img yeezy">
                <img src="./asset/image/product-adidas/yeezy/analog/adidas-Yeezy-Boost-700-Analog-replica.jpg" alt="Yeezy-Boost-700-Analog">
                <img class="img-hover" src="./asset/image/product-adidas/yeezy/analog/adidas-yeezy-700-analog-replica-2.jpg" alt="Yeezy-Boost-700-Analog-2">
                <div class="icon-icon"> 
                    <i class="fas fa-cart-arrow-down"></i>
                    <i class="fas fa-search-plus"></i>
                </div>
                <div class="info">
                    <p>Yeezy-Boost-700-Analog</p>
                    <span class="first-money">2.500.000 đ</span>
                    <span class="last-money">1.490.000 đ</span>
                </div>
            </div>
            <div class="product-img yeezy">
                <img src="./asset/image/product-adidas/yeezy/glow/adidas-yeezy-350-v2-glow-replica.jpg" alt="adidas-yeezy-350-v2-glow">
                <img class="img-hover" src="asset/image/product-adidas/yeezy/glow/Adidas-Yeezy-350-V2-Glow-replica-2.jpg" alt="adidas-yeezy-350-v2-glow-2">
                <div class="icon-icon"> 
                    <i class="fas fa-cart-arrow-down"></i>
                    <i class="fas fa-search-plus"></i>
                </div>
                <div class="info">
                    <p>balenciaga-track-3-Green White Black</p>
                    <span class="first-money">2.000.000 đ</span>
                    <span class="last-money">1.290.000 đ</span>
                </div>
            </div>
            <div class="product-img yeezy">
                <img src="./asset/image/product-new/balenciaga-track-3-yellow/balenciaga-track-3-yellow-replica.jpg" alt="balenciaga-track-3-yellow">
                <img class="img-hover" src="./asset/image/product-new/balenciaga-track-3-yellow/balenciaga-track-3-yellow-replica-2.jpg" alt="balenciaga-track-3-yellow-2">
                <div class="icon-icon"> 
                    <i class="fas fa-cart-arrow-down"></i>
                    <i class="fas fa-search-plus"></i>
                </div>
                <div class="info">
                    <p>adidas-yeezy-350-v2-glow</p>
                    <span class="first-money">2.000.000 đ</span>
                    <span class="last-money">1.290.000 đ</span>
                </div>
            </div>
            <div class="product-img yeezy">
                <img src="./asset/image/product-adidas/yeezy/salt/adidas-Yeezy-Boost-700-salt-replica.jpg" alt="Yeezy-Boost-700-salt">
                <img class="img-hover" src="asset/image/product-adidas/yeezy/salt/adidas-yeezy-700-salt-replica-3.jpg" alt="Yeezy-Boost-700-salt-3">
                <div class="icon-icon"> 
                    <i class="fas fa-cart-arrow-down"></i>
                    <i class="fas fa-search-plus"></i>
                </div>
                <div class="info">
                    <p>Yeezy-Boost-700-salt</p>
                    <span class="first-money">2.500.000 đ</span>
                    <span class="last-money">1.490.000 đ</span>
                </div>
            </div>
            <div class="product-img yeezy">
                <img src="./asset/image/product-adidas/yeezy/analog/adidas-Yeezy-Boost-700-Analog-replica.jpg" alt="Yeezy-Boost-700-Analog">
                <img class="img-hover" src="./asset/image/product-adidas/yeezy/analog/adidas-yeezy-700-analog-replica-2.jpg" alt="Yeezy-Boost-700-Analog-2">
                <div class="icon-icon"> 
                    <i class="fas fa-cart-arrow-down"></i>
                    <i class="fas fa-search-plus"></i>
                </div>
                <div class="info">
                    <p>Yeezy-Boost-700-Analog</p>
                    <span class="first-money">2.500.000 đ</span>
                    <span class="last-money">1.490.000 đ</span>
                </div>
            </div>
            <div class="product-img yeezy">
                <img src="./asset/image/product-adidas/yeezy/glow/adidas-yeezy-350-v2-glow-replica.jpg" alt="adidas-yeezy-350-v2-glow">
                <img class="img-hover" src="asset/image/product-adidas/yeezy/glow/Adidas-Yeezy-350-V2-Glow-replica-2.jpg" alt="adidas-yeezy-350-v2-glow-2">
                <div class="icon-icon"> 
                    <i class="fas fa-cart-arrow-down"></i>
                    <i class="fas fa-search-plus"></i>
                </div>
                <div class="info">
                    <p>balenciaga-track-3-Green White Black</p>
                    <span class="first-money">2.000.000 đ</span>
                    <span class="last-money">1.290.000 đ</span>
                </div>
            </div>
            <div class="product-img yeezy">
                <img src="./asset/image/product-new/balenciaga-track-3-yellow/balenciaga-track-3-yellow-replica.jpg" alt="balenciaga-track-3-yellow">
                <img class="img-hover" src="./asset/image/product-new/balenciaga-track-3-yellow/balenciaga-track-3-yellow-replica-2.jpg" alt="balenciaga-track-3-yellow-2">
                <div class="icon-icon"> 
                    <i class="fas fa-cart-arrow-down"></i>
                    <i class="fas fa-search-plus"></i>
                </div>
                <div class="info">
                    <p>adidas-yeezy-350-v2-glow</p>
                    <span class="first-money">2.000.000 đ</span>
                    <span class="last-money">1.290.000 đ</span>
                </div>
            </div>
        </div>
        <div class="more" id="click-yeezy">XEM THÊM</div>
    </div>
    <!-- alphabounce -->
    <div class="type-product adidas" id="product-alaphabounce">
        <div class="container-pro">
            <div class="product-img alaphabounce">
                <img src="./asset/image/product-adidas/alaphabounce/beyond-yellow/adidas-alphabounce-beyond-ghi-vang-replica.jpg" alt="adidas-alphabounce-beyond-yellow">
                <img class="img-hover" src="asset/image/product-adidas/alaphabounce/beyond-yellow/giay-adidas-alphabounce-ghi-vang-replica-3.jpg" alt="adidas-alphabounce-beyond-yellow-3">
                <div class="icon-icon"> 
                    <i class="fas fa-cart-arrow-down"></i>
                    <i class="fas fa-search-plus"></i>
                </div>
                <div class="info">
                    <p>Yeezy-Boost-700-salt</p>
                    <span class="first-money">2.500.000 đ</span>
                    <span class="last-money">1.490.000 đ</span>
                </div>
            </div>
            <div class="product-img alaphabounce">
                <img src="asset/image/product-adidas/alaphabounce/beyond-orange-blue/adidas-alphabounce-xanh-cam-replica.jpg" alt="adidas-alphabounce-beyond-orange-blue">
                <img class="img-hover" src="asset/image/product-adidas/alaphabounce/beyond-orange-blue/adidas-alphabounce-xanh-cam-replica-6.jpg" alt="adidas-alphabounce-beyond-orange-blue-6">
                <div class="icon-icon"> 
                    <i class="fas fa-cart-arrow-down"></i>
                    <i class="fas fa-search-plus"></i>
                </div>
                <div class="info">
                    <p>Yeezy-Boost-700-Analog</p>
                    <span class="first-money">2.500.000 đ</span>
                    <span class="last-money">1.490.000 đ</span>
                </div>
            </div>
            <div class="product-img alaphabounce">
                <img src="asset/image/product-adidas/alaphabounce/beyond-black/adidas-alphabounce-full-black-replica.jpg" alt="adidas-alphabounce-beyond-black">
                <img class="img-hover" src="asset/image/product-adidas/alaphabounce/beyond-black/adidas-alphabounce-full-black-replica-2.jpg" alt="adidas-alphabounce-beyond-black-2">
                <div class="icon-icon"> 
                    <i class="fas fa-cart-arrow-down"></i>
                    <i class="fas fa-search-plus"></i>
                </div>
                <div class="info">
                    <p>balenciaga-track-3-Green White Black</p>
                    <span class="first-money">2.000.000 đ</span>
                    <span class="last-money">1.290.000 đ</span>
                </div>
            </div>
            <div class="product-img alaphabounce">
                <img src="asset/image/product-adidas/alaphabounce/beyond-grey/Adidas-AlphaBounce-Beyond-side.jpg" alt="adidas-alphabounce-beyond-grey">
                <img class="img-hover" src="./asset/image/product-adidas/alaphabounce/beyond-grey/adidas-alphabounce-full-grey-replica-3.jpg" alt="adidas-alphabounce-beyond-black-3">
                <div class="icon-icon"> 
                    <i class="fas fa-cart-arrow-down"></i>
                    <i class="fas fa-search-plus"></i>
                </div>
                <div class="info">
                    <p>adidas-yeezy-350-v2-glow</p>
                    <span class="first-money">2.000.000 đ</span>
                    <span class="last-money">1.290.000 đ</span>
                </div>
            </div>
            <div class="product-img alaphabounce">
                <img src="./asset/image/product-adidas/alaphabounce/beyond-yellow/adidas-alphabounce-beyond-ghi-vang-replica.jpg" alt="adidas-alphabounce-beyond-yellow">
                <img class="img-hover" src="asset/image/product-adidas/alaphabounce/beyond-yellow/giay-adidas-alphabounce-ghi-vang-replica-3.jpg" alt="adidas-alphabounce-beyond-yellow-3">
                <div class="icon-icon"> 
                    <i class="fas fa-cart-arrow-down"></i>
                    <i class="fas fa-search-plus"></i>
                </div>
                <div class="info">
                    <p>Yeezy-Boost-700-salt</p>
                    <span class="first-money">2.500.000 đ</span>
                    <span class="last-money">1.490.000 đ</span>
                </div>
            </div>
            <div class="product-img alaphabounce">
                <img src="asset/image/product-adidas/alaphabounce/beyond-orange-blue/adidas-alphabounce-xanh-cam-replica.jpg" alt="adidas-alphabounce-beyond-orange-blue">
                <img class="img-hover" src="asset/image/product-adidas/alaphabounce/beyond-orange-blue/adidas-alphabounce-xanh-cam-replica-6.jpg" alt="adidas-alphabounce-beyond-orange-blue-6">
                <div class="icon-icon"> 
                    <i class="fas fa-cart-arrow-down"></i>
                    <i class="fas fa-search-plus"></i>
                </div>
                <div class="info">
                    <p>Yeezy-Boost-700-Analog</p>
                    <span class="first-money">2.500.000 đ</span>
                    <span class="last-money">1.490.000 đ</span>
                </div>
            </div>
            <div class="product-img alaphabounce">
                <img src="asset/image/product-adidas/alaphabounce/beyond-black/adidas-alphabounce-full-black-replica.jpg" alt="adidas-alphabounce-beyond-black">
                <img class="img-hover" src="asset/image/product-adidas/alaphabounce/beyond-black/adidas-alphabounce-full-black-replica-2.jpg" alt="adidas-alphabounce-beyond-black-2">
                <div class="icon-icon"> 
                    <i class="fas fa-cart-arrow-down"></i>
                    <i class="fas fa-search-plus"></i>
                </div>
                <div class="info">
                    <p>balenciaga-track-3-Green White Black</p>
                    <span class="first-money">2.000.000 đ</span>
                    <span class="last-money">1.290.000 đ</span>
                </div>
            </div>
            <div class="product-img alaphabounce">
                <img src="asset/image/product-adidas/alaphabounce/beyond-grey/Adidas-AlphaBounce-Beyond-side.jpg" alt="adidas-alphabounce-beyond-grey">
                <img class="img-hover" src="./asset/image/product-adidas/alaphabounce/beyond-grey/adidas-alphabounce-full-grey-replica-3.jpg" alt="adidas-alphabounce-beyond-black-3">
                <div class="icon-icon"> 
                    <i class="fas fa-cart-arrow-down"></i>
                    <i class="fas fa-search-plus"></i>
                </div>
                <div class="info">
                    <p>adidas-yeezy-350-v2-glow</p>
                    <span class="first-money">2.000.000 đ</span>
                    <span class="last-money">1.290.000 đ</span>
                </div>
            </div>
        </div>
        <div class="more" id="click-alaphabounce">XEM THÊM</div>
    </div>
    <!--  ultra boost  -->
    <div class="type-product adidas" id="product-ultra-boost">
        <div class="container-pro">
            <div class="product-img ultra-boost">
                <img src="asset/image/product-adidas/ultra-boost/pink-4/adidas-ultraboost-4-hong-replica.jpg" alt="adidas-ultraboost-4-hong">
                <img class="img-hover" src="asset/image/product-adidas/ultra-boost/pink-4/adidas-ultra-boost-4.0-hong-replica-3.jpg" alt="adidas-ultraboost-4-hong-3">
                <div class="icon-icon"> 
                    <i class="fas fa-cart-arrow-down"></i>
                    <i class="fas fa-search-plus"></i>
                </div>
                <div class="info">
                    <p>Yeezy-Boost-700-salt</p>
                    <span class="first-money">2.500.000 đ</span>
                    <span class="last-money">1.490.000 đ</span>
                </div>
            </div>
            <div class="product-img ultra-boost">
                <img src="asset/image/product-adidas/ultra-boost/grey-4/addias-ultraboost-4-xam-replica.jpg" alt="addias-ultraboost-4-xam">
                <img class="img-hover" src="asset/image/product-adidas/ultra-boost/grey-4/adidas-ultraboost-4-xam-replica-2.jpg" alt="addias-ultraboost-4-xam-2">
                <div class="icon-icon"> 
                    <i class="fas fa-cart-arrow-down"></i>
                    <i class="fas fa-search-plus"></i>
                </div>
                <div class="info">
                    <p>Yeezy-Boost-700-Analog</p>
                    <span class="first-money">2.500.000 đ</span>
                    <span class="last-money">1.490.000 đ</span>
                </div>
            </div>
            <div class="product-img ultra-boost">
                <img src="asset/image/product-adidas/ultra-boost/oreo/adidas-Ultra-Boost-2019-Oreo-replica.jpg" alt="adidas-Ultra-Boost-2019-Oreo">
                <img class="img-hover" src="asset/image/product-adidas/ultra-boost/oreo/adidas-ultra-boost-19-5-oreo-replica-2.jpg" alt="adidas-Ultra-Boost-2019-Oreo-2">
                <div class="icon-icon"> 
                    <i class="fas fa-cart-arrow-down"></i>
                    <i class="fas fa-search-plus"></i>
                </div>
                <div class="info">
                    <p>balenciaga-track-3-Green White Black</p>
                    <span class="first-money">2.000.000 đ</span>
                    <span class="last-money">1.290.000 đ</span>
                </div>
            </div>
            <div class="product-img ultra-boost">
                <img src="./asset/image/product-adidas/ultra-boost/19-panda/adidas-ultraboost-2019-panda-replica.jpg" alt="adidas-ultraboost-2019-panda">
                <img class="img-hover" src="./asset/image/product-adidas/ultra-boost/19-panda/adidas-ultra-boost-2019-panda-replica-2.jpg" alt="adidas-ultraboost-2019-panda-2">
                <div class="icon-icon"> 
                    <i class="fas fa-cart-arrow-down"></i>
                    <i class="fas fa-search-plus"></i>
                </div>
                <div class="info">
                    <p>adidas-yeezy-350-v2-glow</p>
                    <span class="first-money">2.000.000 đ</span>
                    <span class="last-money">1.290.000 đ</span>
                </div>
            </div>
            <div class="product-img ultra-boost">
                <img src="asset/image/product-adidas/ultra-boost/pink-4/adidas-ultraboost-4-hong-replica.jpg" alt="adidas-ultraboost-4-hong">
                <img class="img-hover" src="asset/image/product-adidas/ultra-boost/pink-4/adidas-ultra-boost-4.0-hong-replica-3.jpg" alt="adidas-ultraboost-4-hong-3">
                <div class="icon-icon"> 
                    <i class="fas fa-cart-arrow-down"></i>
                    <i class="fas fa-search-plus"></i>
                </div>
                <div class="info">
                    <p>Yeezy-Boost-700-salt</p>
                    <span class="first-money">2.500.000 đ</span>
                    <span class="last-money">1.490.000 đ</span>
                </div>
            </div>
            <div class="product-img ultra-boost">
                <img src="asset/image/product-adidas/ultra-boost/grey-4/addias-ultraboost-4-xam-replica.jpg" alt="addias-ultraboost-4-xam">
                <img class="img-hover" src="asset/image/product-adidas/ultra-boost/grey-4/adidas-ultraboost-4-xam-replica-2.jpg" alt="addias-ultraboost-4-xam-2">
                <div class="icon-icon"> 
                    <i class="fas fa-cart-arrow-down"></i>
                    <i class="fas fa-search-plus"></i>
                </div>
                <div class="info">
                    <p>Yeezy-Boost-700-Analog</p>
                    <span class="first-money">2.500.000 đ</span>
                    <span class="last-money">1.490.000 đ</span>
                </div>
            </div>
            <div class="product-img ultra-boost">
                <img src="asset/image/product-adidas/ultra-boost/oreo/adidas-Ultra-Boost-2019-Oreo-replica.jpg" alt="adidas-Ultra-Boost-2019-Oreo">
                <img class="img-hover" src="asset/image/product-adidas/ultra-boost/oreo/adidas-ultra-boost-19-5-oreo-replica-2.jpg" alt="adidas-Ultra-Boost-2019-Oreo-2">
                <div class="icon-icon"> 
                    <i class="fas fa-cart-arrow-down"></i>
                    <i class="fas fa-search-plus"></i>
                </div>
                <div class="info">
                    <p>balenciaga-track-3-Green White Black</p>
                    <span class="first-money">2.000.000 đ</span>
                    <span class="last-money">1.290.000 đ</span>
                </div>
            </div>
            <div class="product-img ultra-boost">
                <img src="./asset/image/product-adidas/ultra-boost/19-panda/adidas-ultraboost-2019-panda-replica.jpg" alt="adidas-ultraboost-2019-panda">
                <img class="img-hover" src="./asset/image/product-adidas/ultra-boost/19-panda/adidas-ultra-boost-2019-panda-replica-2.jpg" alt="adidas-ultraboost-2019-panda-2">
                <div class="icon-icon"> 
                    <i class="fas fa-cart-arrow-down"></i>
                    <i class="fas fa-search-plus"></i>
                </div>
                <div class="info">
                    <p>adidas-yeezy-350-v2-glow</p>
                    <span class="first-money">2.000.000 đ</span>
                    <span class="last-money">1.290.000 đ</span>
                </div>
            </div>
        </div>
        <div class="more" id="click-ultra-boost">XEM THÊM</div>
    </div>

</div>

<!--*****  product nike  ******-->
<div class="product">
    <h2 class="title-product">Giày Nike</h2>
    <div class="top-pro">
        <h4 class="name-type name-type-nike" id="type-yeezy" onclick="clickNike(0)">AIR MAX 97</h4>
        <h4>/</h4>
        <h4 class="name-type name-type-nike" id="type-uptempo" onclick="clickNike(1)">UPTEMPO</h4>
        <h4>/</h4>
        <h4 class="name-type name-type-nike" id="type-air-force" onclick="clickNike(2)">AIR FORCE</h4>
    </div>
    <!-- AIR MAX 97-->
    <div class="type-product nike" id="product-air-max-97">
        <div class="container-pro">
            <div class="product-img air-max-97">
                <img src="./asset/image/product-adidas/yeezy/salt/adidas-Yeezy-Boost-700-salt-replica.jpg" alt="Yeezy-Boost-700-salt">
                <img class="img-hover" src="asset/image/product-adidas/yeezy/salt/adidas-yeezy-700-salt-replica-3.jpg" alt="Yeezy-Boost-700-salt-3">
                <div class="icon-icon"> 
                    <i class="fas fa-cart-arrow-down"></i>
                    <i class="fas fa-search-plus"></i>
                </div>
                <div class="info">
                    <p>Yeezy-Boost-700-salt</p>
                    <span class="first-money">2.500.000 đ</span>
                    <span class="last-money">1.490.000 đ</span>
                </div>
            </div>
            <div class="product-img air-max-97">
                <img src="./asset/image/product-adidas/yeezy/analog/adidas-Yeezy-Boost-700-Analog-replica.jpg" alt="Yeezy-Boost-700-Analog">
                <img class="img-hover" src="./asset/image/product-adidas/yeezy/analog/adidas-yeezy-700-analog-replica-2.jpg" alt="Yeezy-Boost-700-Analog-2">
                <div class="icon-icon"> 
                    <i class="fas fa-cart-arrow-down"></i>
                    <i class="fas fa-search-plus"></i>
                </div>
                <div class="info">
                    <p>Yeezy-Boost-700-Analog</p>
                    <span class="first-money">2.500.000 đ</span>
                    <span class="last-money">1.490.000 đ</span>
                </div>
            </div>
            <div class="product-img air-max-97">
                <img src="./asset/image/product-adidas/yeezy/glow/adidas-yeezy-350-v2-glow-replica.jpg" alt="adidas-yeezy-350-v2-glow">
                <img class="img-hover" src="asset/image/product-adidas/yeezy/glow/Adidas-Yeezy-350-V2-Glow-replica-2.jpg" alt="adidas-yeezy-350-v2-glow-2">
                <div class="icon-icon"> 
                    <i class="fas fa-cart-arrow-down"></i>
                    <i class="fas fa-search-plus"></i>
                </div>
                <div class="info">
                    <p>balenciaga-track-3-Green White Black</p>
                    <span class="first-money">2.000.000 đ</span>
                    <span class="last-money">1.290.000 đ</span>
                </div>
            </div>
            <div class="product-img air-max-97">
                <img src="./asset/image/product-new/balenciaga-track-3-yellow/balenciaga-track-3-yellow-replica.jpg" alt="balenciaga-track-3-yellow">
                <img class="img-hover" src="./asset/image/product-new/balenciaga-track-3-yellow/balenciaga-track-3-yellow-replica-2.jpg" alt="balenciaga-track-3-yellow-2">
                <div class="icon-icon"> 
                    <i class="fas fa-cart-arrow-down"></i>
                    <i class="fas fa-search-plus"></i>
                </div>
                <div class="info">
                    <p>adidas-yeezy-350-v2-glow</p>
                    <span class="first-money">2.000.000 đ</span>
                    <span class="last-money">1.290.000 đ</span>
                </div>
            </div>
            <div class="product-img air-max-97">
                <img src="./asset/image/product-adidas/yeezy/salt/adidas-Yeezy-Boost-700-salt-replica.jpg" alt="Yeezy-Boost-700-salt">
                <img class="img-hover" src="asset/image/product-adidas/yeezy/salt/adidas-yeezy-700-salt-replica-3.jpg" alt="Yeezy-Boost-700-salt-3">
                <div class="icon-icon"> 
                    <i class="fas fa-cart-arrow-down"></i>
                    <i class="fas fa-search-plus"></i>
                </div>
                <div class="info">
                    <p>Yeezy-Boost-700-salt</p>
                    <span class="first-money">2.500.000 đ</span>
                    <span class="last-money">1.490.000 đ</span>
                </div>
            </div>
            <div class="product-img air-max-97">
                <img src="./asset/image/product-adidas/yeezy/analog/adidas-Yeezy-Boost-700-Analog-replica.jpg" alt="Yeezy-Boost-700-Analog">
                <img class="img-hover" src="./asset/image/product-adidas/yeezy/analog/adidas-yeezy-700-analog-replica-2.jpg" alt="Yeezy-Boost-700-Analog-2">
                <div class="icon-icon"> 
                    <i class="fas fa-cart-arrow-down"></i>
                    <i class="fas fa-search-plus"></i>
                </div>
                <div class="info">
                    <p>Yeezy-Boost-700-Analog</p>
                    <span class="first-money">2.500.000 đ</span>
                    <span class="last-money">1.490.000 đ</span>
                </div>
            </div>
            <div class="product-img air-max-97">
                <img src="./asset/image/product-adidas/yeezy/glow/adidas-yeezy-350-v2-glow-replica.jpg" alt="adidas-yeezy-350-v2-glow">
                <img class="img-hover" src="asset/image/product-adidas/yeezy/glow/Adidas-Yeezy-350-V2-Glow-replica-2.jpg" alt="adidas-yeezy-350-v2-glow-2">
                <div class="icon-icon"> 
                    <i class="fas fa-cart-arrow-down"></i>
                    <i class="fas fa-search-plus"></i>
                </div>
                <div class="info">
                    <p>balenciaga-track-3-Green White Black</p>
                    <span class="first-money">2.000.000 đ</span>
                    <span class="last-money">1.290.000 đ</span>
                </div>
            </div>
            <div class="product-img air-max-97">
                <img src="./asset/image/product-new/balenciaga-track-3-yellow/balenciaga-track-3-yellow-replica.jpg" alt="balenciaga-track-3-yellow">
                <img class="img-hover" src="./asset/image/product-new/balenciaga-track-3-yellow/balenciaga-track-3-yellow-replica-2.jpg" alt="balenciaga-track-3-yellow-2">
                <div class="icon-icon"> 
                    <i class="fas fa-cart-arrow-down"></i>
                    <i class="fas fa-search-plus"></i>
                </div>
                <div class="info">
                    <p>adidas-yeezy-350-v2-glow</p>
                    <span class="first-money">2.000.000 đ</span>
                    <span class="last-money">1.290.000 đ</span>
                </div>
            </div>
        </div>
        <div class="more" id="click-air-max-97">XEM THÊM</div>
    </div>
    <!-- uptempo -->
    <div class="type-product nike" id="product-uptempo">
        <div class="container-pro">
            <div class="product-img uptempo">
                <img src="./asset/image/product-adidas/alaphabounce/beyond-yellow/adidas-alphabounce-beyond-ghi-vang-replica.jpg" alt="adidas-alphabounce-beyond-yellow">
                <img class="img-hover" src="asset/image/product-adidas/alaphabounce/beyond-yellow/giay-adidas-alphabounce-ghi-vang-replica-3.jpg" alt="adidas-alphabounce-beyond-yellow-3">
                <div class="icon-icon"> 
                    <i class="fas fa-cart-arrow-down"></i>
                    <i class="fas fa-search-plus"></i>
                </div>
                <div class="info">
                    <p>Yeezy-Boost-700-salt</p>
                    <span class="first-money">2.500.000 đ</span>
                    <span class="last-money">1.490.000 đ</span>
                </div>
            </div>
            <div class="product-img uptempo">
                <img src="asset/image/product-adidas/alaphabounce/beyond-orange-blue/adidas-alphabounce-xanh-cam-replica.jpg" alt="adidas-alphabounce-beyond-orange-blue">
                <img class="img-hover" src="asset/image/product-adidas/alaphabounce/beyond-orange-blue/adidas-alphabounce-xanh-cam-replica-6.jpg" alt="adidas-alphabounce-beyond-orange-blue-6">
                <div class="icon-icon"> 
                    <i class="fas fa-cart-arrow-down"></i>
                    <i class="fas fa-search-plus"></i>
                </div>
                <div class="info">
                    <p>Yeezy-Boost-700-Analog</p>
                    <span class="first-money">2.500.000 đ</span>
                    <span class="last-money">1.490.000 đ</span>
                </div>
            </div>
            <div class="product-img uptempo">
                <img src="asset/image/product-adidas/alaphabounce/beyond-black/adidas-alphabounce-full-black-replica.jpg" alt="adidas-alphabounce-beyond-black">
                <img class="img-hover" src="asset/image/product-adidas/alaphabounce/beyond-black/adidas-alphabounce-full-black-replica-2.jpg" alt="adidas-alphabounce-beyond-black-2">
                <div class="icon-icon"> 
                    <i class="fas fa-cart-arrow-down"></i>
                    <i class="fas fa-search-plus"></i>
                </div>
                <div class="info">
                    <p>balenciaga-track-3-Green White Black</p>
                    <span class="first-money">2.000.000 đ</span>
                    <span class="last-money">1.290.000 đ</span>
                </div>
            </div>
            <div class="product-img uptempo">
                <img src="asset/image/product-adidas/alaphabounce/beyond-grey/Adidas-AlphaBounce-Beyond-side.jpg" alt="adidas-alphabounce-beyond-grey">
                <img class="img-hover" src="./asset/image/product-adidas/alaphabounce/beyond-grey/adidas-alphabounce-full-grey-replica-3.jpg" alt="adidas-alphabounce-beyond-black-3">
                <div class="icon-icon"> 
                    <i class="fas fa-cart-arrow-down"></i>
                    <i class="fas fa-search-plus"></i>
                </div>
                <div class="info">
                    <p>adidas-yeezy-350-v2-glow</p>
                    <span class="first-money">2.000.000 đ</span>
                    <span class="last-money">1.290.000 đ</span>
                </div>
            </div>
            <div class="product-img uptempo">
                <img src="./asset/image/product-adidas/alaphabounce/beyond-yellow/adidas-alphabounce-beyond-ghi-vang-replica.jpg" alt="adidas-alphabounce-beyond-yellow">
                <img class="img-hover" src="asset/image/product-adidas/alaphabounce/beyond-yellow/giay-adidas-alphabounce-ghi-vang-replica-3.jpg" alt="adidas-alphabounce-beyond-yellow-3">
                <div class="icon-icon"> 
                    <i class="fas fa-cart-arrow-down"></i>
                    <i class="fas fa-search-plus"></i>
                </div>
                <div class="info">
                    <p>Yeezy-Boost-700-salt</p>
                    <span class="first-money">2.500.000 đ</span>
                    <span class="last-money">1.490.000 đ</span>
                </div>
            </div>
            <div class="product-img uptempo">
                <img src="asset/image/product-adidas/alaphabounce/beyond-orange-blue/adidas-alphabounce-xanh-cam-replica.jpg" alt="adidas-alphabounce-beyond-orange-blue">
                <img class="img-hover" src="asset/image/product-adidas/alaphabounce/beyond-orange-blue/adidas-alphabounce-xanh-cam-replica-6.jpg" alt="adidas-alphabounce-beyond-orange-blue-6">
                <div class="icon-icon"> 
                    <i class="fas fa-cart-arrow-down"></i>
                    <i class="fas fa-search-plus"></i>
                </div>
                <div class="info">
                    <p>Yeezy-Boost-700-Analog</p>
                    <span class="first-money">2.500.000 đ</span>
                    <span class="last-money">1.490.000 đ</span>
                </div>
            </div>
            <div class="product-img uptempo">
                <img src="asset/image/product-adidas/alaphabounce/beyond-black/adidas-alphabounce-full-black-replica.jpg" alt="adidas-alphabounce-beyond-black">
                <img class="img-hover" src="asset/image/product-adidas/alaphabounce/beyond-black/adidas-alphabounce-full-black-replica-2.jpg" alt="adidas-alphabounce-beyond-black-2">
                <div class="icon-icon"> 
                    <i class="fas fa-cart-arrow-down"></i>
                    <i class="fas fa-search-plus"></i>
                </div>
                <div class="info">
                    <p>balenciaga-track-3-Green White Black</p>
                    <span class="first-money">2.000.000 đ</span>
                    <span class="last-money">1.290.000 đ</span>
                </div>
            </div>
            <div class="product-img uptempo">
                <img src="asset/image/product-adidas/alaphabounce/beyond-grey/Adidas-AlphaBounce-Beyond-side.jpg" alt="adidas-alphabounce-beyond-grey">
                <img class="img-hover" src="./asset/image/product-adidas/alaphabounce/beyond-grey/adidas-alphabounce-full-grey-replica-3.jpg" alt="adidas-alphabounce-beyond-black-3">
                <div class="icon-icon"> 
                    <i class="fas fa-cart-arrow-down"></i>
                    <i class="fas fa-search-plus"></i>
                </div>
                <div class="info">
                    <p>adidas-yeezy-350-v2-glow</p>
                    <span class="first-money">2.000.000 đ</span>
                    <span class="last-money">1.290.000 đ</span>
                </div>
            </div>
        </div>
        <div class="more" id="click-uptempo">XEM THÊM</div>
    </div>
    <!--  air force  -->
    <div class="type-product nike" id="product-air-force">
        <div class="container-pro">
            <div class="product-img air-force">
                <img src="asset/image/product-adidas/ultra-boost/pink-4/adidas-ultraboost-4-hong-replica.jpg" alt="adidas-ultraboost-4-hong">
                <img class="img-hover" src="asset/image/product-adidas/ultra-boost/pink-4/adidas-ultra-boost-4.0-hong-replica-3.jpg" alt="adidas-ultraboost-4-hong-3">
                <div class="icon-icon"> 
                    <i class="fas fa-cart-arrow-down"></i>
                    <i class="fas fa-search-plus"></i>
                </div>
                <div class="info">
                    <p>Yeezy-Boost-700-salt</p>
                    <span class="first-money">2.500.000 đ</span>
                    <span class="last-money">1.490.000 đ</span>
                </div>
            </div>
            <div class="product-img air-force">
                <img src="asset/image/product-adidas/ultra-boost/grey-4/addias-ultraboost-4-xam-replica.jpg" alt="addias-ultraboost-4-xam">
                <img class="img-hover" src="asset/image/product-adidas/ultra-boost/grey-4/adidas-ultraboost-4-xam-replica-2.jpg" alt="addias-ultraboost-4-xam-2">
                <div class="icon-icon"> 
                    <i class="fas fa-cart-arrow-down"></i>
                    <i class="fas fa-search-plus"></i>
                </div>
                <div class="info">
                    <p>Yeezy-Boost-700-Analog</p>
                    <span class="first-money">2.500.000 đ</span>
                    <span class="last-money">1.490.000 đ</span>
                </div>
            </div>
            <div class="product-img air-force">
                <img src="asset/image/product-adidas/ultra-boost/oreo/adidas-Ultra-Boost-2019-Oreo-replica.jpg" alt="adidas-Ultra-Boost-2019-Oreo">
                <img class="img-hover" src="asset/image/product-adidas/ultra-boost/oreo/adidas-ultra-boost-19-5-oreo-replica-2.jpg" alt="adidas-Ultra-Boost-2019-Oreo-2">
                <div class="icon-icon"> 
                    <i class="fas fa-cart-arrow-down"></i>
                    <i class="fas fa-search-plus"></i>
                </div>
                <div class="info">
                    <p>balenciaga-track-3-Green White Black</p>
                    <span class="first-money">2.000.000 đ</span>
                    <span class="last-money">1.290.000 đ</span>
                </div>
            </div>
            <div class="product-img air-force">
                <img src="./asset/image/product-adidas/ultra-boost/19-panda/adidas-ultraboost-2019-panda-replica.jpg" alt="adidas-ultraboost-2019-panda">
                <img class="img-hover" src="./asset/image/product-adidas/ultra-boost/19-panda/adidas-ultra-boost-2019-panda-replica-2.jpg" alt="adidas-ultraboost-2019-panda-2">
                <div class="icon-icon"> 
                    <i class="fas fa-cart-arrow-down"></i>
                    <i class="fas fa-search-plus"></i>
                </div>
                <div class="info">
                    <p>adidas-yeezy-350-v2-glow</p>
                    <span class="first-money">2.000.000 đ</span>
                    <span class="last-money">1.290.000 đ</span>
                </div>
            </div>
            <div class="product-img air-force">
                <img src="asset/image/product-adidas/ultra-boost/pink-4/adidas-ultraboost-4-hong-replica.jpg" alt="adidas-ultraboost-4-hong">
                <img class="img-hover" src="asset/image/product-adidas/ultra-boost/pink-4/adidas-ultra-boost-4.0-hong-replica-3.jpg" alt="adidas-ultraboost-4-hong-3">
                <div class="icon-icon"> 
                    <i class="fas fa-cart-arrow-down"></i>
                    <i class="fas fa-search-plus"></i>
                </div>
                <div class="info">
                    <p>Yeezy-Boost-700-salt</p>
                    <span class="first-money">2.500.000 đ</span>
                    <span class="last-money">1.490.000 đ</span>
                </div>
            </div>
            <div class="product-img air-force">
                <img src="asset/image/product-adidas/ultra-boost/grey-4/addias-ultraboost-4-xam-replica.jpg" alt="addias-ultraboost-4-xam">
                <img class="img-hover" src="asset/image/product-adidas/ultra-boost/grey-4/adidas-ultraboost-4-xam-replica-2.jpg" alt="addias-ultraboost-4-xam-2">
                <div class="icon-icon"> 
                    <i class="fas fa-cart-arrow-down"></i>
                    <i class="fas fa-search-plus"></i>
                </div>
                <div class="info">
                    <p>Yeezy-Boost-700-Analog</p>
                    <span class="first-money">2.500.000 đ</span>
                    <span class="last-money">1.490.000 đ</span>
                </div>
            </div>
            <div class="product-img air-force">
                <img src="asset/image/product-adidas/ultra-boost/oreo/adidas-Ultra-Boost-2019-Oreo-replica.jpg" alt="adidas-Ultra-Boost-2019-Oreo">
                <img class="img-hover" src="asset/image/product-adidas/ultra-boost/oreo/adidas-ultra-boost-19-5-oreo-replica-2.jpg" alt="adidas-Ultra-Boost-2019-Oreo-2">
                <div class="icon-icon"> 
                    <i class="fas fa-cart-arrow-down"></i>
                    <i class="fas fa-search-plus"></i>
                </div>
                <div class="info">
                    <p>balenciaga-track-3-Green White Black</p>
                    <span class="first-money">2.000.000 đ</span>
                    <span class="last-money">1.290.000 đ</span>
                </div>
            </div>
            <div class="product-img air-force">
                <img src="./asset/image/product-adidas/ultra-boost/19-panda/adidas-ultraboost-2019-panda-replica.jpg" alt="adidas-ultraboost-2019-panda">
                <img class="img-hover" src="./asset/image/product-adidas/ultra-boost/19-panda/adidas-ultra-boost-2019-panda-replica-2.jpg" alt="adidas-ultraboost-2019-panda-2">
                <div class="icon-icon"> 
                    <i class="fas fa-cart-arrow-down"></i>
                    <i class="fas fa-search-plus"></i>
                </div>
                <div class="info">
                    <p>adidas-yeezy-350-v2-glow</p>
                    <span class="first-money">2.000.000 đ</span>
                    <span class="last-money">1.290.000 đ</span>
                </div>
            </div>
        </div>
        <div class="more" id="click-air-force">XEM THÊM</div>
    </div>
</div>

<!--*****   introduction   *****8-->
<div class="introduction">
    <div class="left-intro">
        <h3>SHOP GIÀY THỂ THAO REPLICA 1:1</h3>
        <p class="center">Chuyên cung cấp giày thể thao nam, nữ hàng Replica 1:1 với giá tốt nhất tại Hà Nội, tpHCM</p>
        <p>Bạn đang cần tìm một đôi giày thể thao đẹp và hợp thời trang đến từ các thương hiệu lớn nhưng lại không đủ hầu bao để sắm được hàng chính hãng? Hãy đến với shopgiayreplica.com – nơi bạn thỏa lòng mong ước mà chỉ phải chi ra 1 phần nhỏ so với hàng chính hãng ngoài store. Click vào xem thêm ngay bên dưới để biết thêm thông tin về sản phẩm và chính sách của shop nhé.</p>
        <div>
            <p>XEM THÊM</p>
        </div>
    </div>
    <div class="right-intro">
        <img src="asset/image/image-infor/shop-giay-replica-1.jpg" alt="shop-giay">
    </div>
    <div class="clear-float"></div>
</div>