<!DOCTYPE html>
<html lang="en">
    <% include elements/header %>
<body>

    <!--*****  header  *****-->

    <% include elements/topbar.ejs %>

    <%- body %>

    <!--***** information ******-->
    <div class="information">
        <!--còn một phần nhỏ nữa là ok rồi-->
    </div>

    <!--***** footer ******-->
        <% include elements/footer.ejs %>
    <script src="index.js"></script>
</body>
</html> 