body{
    
}
.mobile{
    display:none;
}
.pc{
    display:block;
}

@media screen and (max-width: 1024px){
    .product{
        width:90%;
    }

    .introduction{
        width: 90%;
    }
}

@media screen and (max-width:769px ){
    /* MOBILE-TOPZ */
    .mobile{
        display:block;
        
    }

    .pc{
        display:none;
    }

    .mo-top-left{
        float:left;
        width:50%;
        text-align:left;
    }

    .mo-top-left img{
        width:119px;
        padding: 10px 0;
        margin-left:15px;
    }

    .mo-top-right{
        float: right;
        width:50%;
        text-align:right;
        
    }

    .mo-top-right >div{
        display:inline-block;
        margin-top:18px;
    }

    .mo-top-right .navbar{
        margin-right:15px;
        cursor: pointer;
    }

    .mo-top-right > div .fa-bars{
        font-size:20px;
        padding-left:10px;

    }

    .mo-top-right > div .fa-times{
        font-size:22px;
        padding-left:10px;
        display:none;
    }

    /*  space white */
    .space-white{
        position: absolute;
        width:100%;
        height:100%;
        background-color:rgba(0, 0, 0, 0.7);
        z-index: 98;
        display:none;
        top:0;
    }

    /* mobile-menu */
    .mo-menu{
        position: absolute;
        background-color:black;
        transform: translateX(-271px);
        width:270px;
        top:0;
        z-index: 99;
        height: 100%;
    }

    .mo-menu .menu-search,.mo-menu-iner-sim,.mo-menu-iner-2{
        height:50px;
        position: relative;
    }

    .mo-menu .menu-search{
        border-bottom: 2px solid rgba(92,92,92,.43);
    }

    .mo-menu .menu-search .search-form{
        width:90%;
        height:50px;
        position: relative;
        margin:auto;
        padding:6px 0; 
    }

    .mo-menu .menu-search .search-form input{
        background-color:rgba(255,255,255,.1);
        color:white;
        border: 1px solid rgba(208,208,208,.09);
        height:35px;
        width:100%;
    }

    .mo-menu .menu-search .search-form button{
        background-color: rgba(255,255,255,.1);
        border:none;
        position: absolute;
        height:38px;
        width:40px;
        right:0px;
        top:8px;
        z-index:5;
    }

    .mo-menu .menu-search .search-form button .fa-search{
        font-size: 20px;
        color: rgba(255,255,255,.8);
    }

    .mo-menu .mo-menu-iner-sim{
        text-align:left;
        border-bottom: 1px solid rgba(92,92,92,.43);
    }

    .mo-menu .mo-menu-iner-sim >div{
        padding:10px;

    }

    .mo-menu .mo-menu-iner-sim a{
        color: rgba(255,255,255,.8);
        text-decoration: none;
        text-align:left;
        font-size:16px;
    }

    .mo-menu .mo-menu-iner-2{
        text-align:left;
        border-bottom: 1px solid rgba(92,92,92,.43);
    }

    

    .mo-menu .mo-menu-iner-2 .mo-iner{
        float:left;
        width:74%;
        padding:14px 10px;
        border-right: 1px solid rgba(92,92,92,.43);

    }

    .mo-menu .mo-menu-iner-2 .mo-iner a{
        color: rgba(255,255,255,.8);
        font-size:16px;

    }

    .mo-menu .mo-menu-iner-2 .mo-down{
      position: relative;

    }

    .mo-menu .mo-menu-iner-2 .mo-down i{
        position: absolute;
        top:15px;
        right:15px;
        font-size:20px;
        color: rgba(255,255,255,.8);
     
    }

    .mo-menu .mo-menu-iner-2 .mo-down .fa-times{
        opacity: 0;
        z-index: -5;
    }

    .mo-menu-iner-into{
        overflow: hidden;
        height:0;
        background-color:rgba(92,92,92,.43);
        -webkit-transition: height 2s;
        transition: height 2s;
    }   

    .mo-menu-iner-into .mo-iner-item{
        position: relative;
        width:100%;
        border-bottom: 1px solid rgba(92,92,92,.23);
        height:40px;
    }

    .mo-menu-iner-into .mo-iner-item a{
        color: rgba(255,255,255,.8);
        position: absolute;
        left:15px;
        top:10px;
    }


    /* product */
    .product{
        width:90%;
    }
    .product .product-img{
        width:32%;
    }

    /* footer */
    footer .foo-list .foo-col{
        width:45%;
    }

    .foo-list .foo-col-last{
        text-align:left;
        width:80% !important;
        margin-left:-100px;
    }
}

@media screen and ( max-width:414px ){

    /* slide */
    .slide-action .slide .first-img{
        margin: 0px;
        width: 32%;
        height: auto;
    }

    .slide-action .slide-last .slide-into-last{  /* slide 2*/
        float:left;
        width: 100%;
    }

    .slide-action .slide-last .text-slide-2 >div{
        margin: 0px;
    }

    .slide-last .text-slide-2 .text-mid > div{
        margin-top:0px;

    }

    .slide-last .text-slide-2 .text-bottom{
        position: relative;
        width:100%;
    }

    .slide-action .slide-last .text-slide-2 .text-bottom > div{
        display:inline-block;
        font-size:14px;
        padding:10px;
        margin-top:10px;
    }
    
    .slide-action .slide-last .text-slide-2 .text-bottom .text-bottom-1{
        border: 2px solid black;
        background-attachment: white;
        margin-right:10px;
        cursor: pointer;
    }   

    .slide-action .slide-last .text-slide-2 .text-bottom .text-bottom-2{
        border: 2px solid #BC0000;
        color:#BC0000;
        margin-left:10px;
        cursor: pointer;
        margin-left:-17px;
    }

    /* product */
    .product{
        width:90%;
    }
    .product .product-img{
        width:48%;
    }

     /* footer */
     footer .foo-list .foo-col{
        
        width:95%;
    }

    .foo-list .foo-col-last{
        text-align:left;
        width:80% !important;
        margin-left:-55px;;
    }

    /* introduction */
    .introduction .left-intro{
        width:90%;
    }
    .introduction .right-intro{
        width:0%;
    }
}

@media screen and( max-width:375px  ){
    
    .mo-top-right .shopping .currency{
        display:none;
    }
}