<footer>
    <div class="foo-logo">
        <img src="asset/image/logo/logo-white.png" alt="logo-white">
    </div>
    <div class="contact">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-google-plus-g"></i></a>    
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-youtube"></i></a>
        <a href="#"><i class="fab fa-pinterest"></i></a>
    </div>
    <div class="foo-list">
        <div class="foo-col">
            <h3 class="caption-list">GIÀY ADIDAS</h3>
            <ul>
                <li><a href="#">Adidas NMD</a></li>
                <li><a href="#">Adidas Alpha Bounce</a></li>
                <li><a href="#">Adidas Yeezy</a></li>
                <li><a href="#">Adidas Ultra Boost</a></li>
                <li><a href="#">Adidas Stan Smith</a></li>
                <li><a href="#">Adidas Prophere</a></li>
            </ul>
        </div>
        <div class="foo-col">
            <h3 class="caption-list">GIÀY ADIDAS</h3>
            <ul>
                <li><a href="#">Adidas NMD</a></li>
                <li><a href="#">Adidas Alpha Bounce</a></li>
                <li><a href="#">Adidas Yeezy</a></li>
                <li><a href="#">Adidas Ultra Boost</a></li>
                <li><a href="#">Adidas Stan Smith</a></li>
                <li><a href="#">Adidas Prophere</a></li>
            </ul>
        </div>
        <div class="foo-col">
            <h3 class="caption-list">GIÀY ADIDAS</h3>
            <ul>
                <li><a href="#">Adidas NMD</a></li>
                <li><a href="#">Adidas Alpha Bounce</a></li>
                <li><a href="#">Adidas Yeezy</a></li>
                <li><a href="#">Adidas Ultra Boost</a></li>
                <li><a href="#">Adidas Stan Smith</a></li>
                <li><a href="#">Adidas Prophere</a></li>
            </ul>
        </div>
        <div class="foo-col">
            <h3 class="caption-list">GIÀY ADIDAS</h3>
            <ul>
                <li><a href="#">Adidas NMD</a></li>
                <li><a href="#">Adidas Alpha Bounce</a></li>
                <li><a href="#">Adidas Yeezy</a></li>
                <li><a href="#">Adidas Ultra Boost</a></li>
                <li><a href="#">Adidas Stan Smith</a></li>
                <li><a href="#">Adidas Prophere</a></li>
            </ul>
        </div>
        <div class="foo-col foo-col-last">
            <h3 class="caption-list">THÔNG TIN SHOP</h3>
            <p>Shop giày replica™ - Địa chỉ bán giày Replica 1:1 các thuơng hiệu Adidas, Nike, Balenciaga, Vans, Converse... giá tốt nhất Hà Nội, Tp Hồ Chí Minh.</p>
            <div class="infor-more">
                <div>
                    <i class="fa fa-location-arrow"></i>
                    <span>161 Chùa Láng, Đống Đa, Hà Nội</span>
                </div>
                <div>
                    <i class="fa fa-mobile"></i>
                    <span>Hotline HN: 0964 033 455</span>
                </div>
                <div>
                    <i class="fa fa-location-arrow"></i>
                    <span> 129/23D Nguyễn Trãi, P2, Q5, Tp Hồ Chí Minh</span>
                </div>
                <div>
                    <i class="fa fa-mobile"></i>
                    <span> Hotline HCM: 0866 188 332</span>
                </div>
                <div>
                    <i class="fa fa-facebook"></i>
                    <span><a href=#>Shop giày replica</a></span>
                </div>
            </div>
        </div>
    </div>
    <div class="foo-foo-last">
        <p>© 2019 <a href="#">Shop giày Replica 1:1 tại Hà Nội</a>. All rights reserved</p>
    </div>
</footer>