<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css"/>
    <link rel="stylesheet" href="responsive.css"/>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

    <title>Document</title>
</head>