 <!--PC-->
 <header class="pc">
    <div class="top-z">
        <div class="top-left-z">
            <div>
                <img src="./asset/image/top-image/clock.png" alt="clock"/>
                <div>
                    <strong>0964 033 455</strong>
                    <p>Hotline đặt hàng</p>
                </div>
            </div>
            <div>
                <img src="./asset/image/top-image/clock.png" alt="clock"/>
                <div>
                    <strong>Thanh Toán</strong>
                    <p>khi nhận hàng</p>
                </div>
            </div>
            
        </div>
        <div class="mid-logo">
            <img src="asset/image/logo/logo-1.png" alt="logo-store">
        </div>
        <div class="right-column">
            <a href="#">
                <span>
                    <i class="fas fa-search"></i>
                </span>
            </a>
            <a href="#">
                <i class="fas fa-shopping-cart"></i>
                <span>Giỏ hàng(o) 0 /</span>
                <strong>0</strong>
                <strong>đ</strong>
            </a>
        </div>
        <div class="search-top">
            <form action="click-search">
                <input type="search" class="input-search">
                <button type="submit">TÌM KIẾM</button>
            </form>
        </div>
    </div>

    <!--*****  Menu  *****-->
    <div class="top-menu">
        <ul class="menu-menu">
            <li class="menu-iner">
                <a href="#" >HOME          
                </a>
            </li>
            <li class="menu-iner">
                <a href="#">GIÀY ADIDAS
                    <i class="fas fa-chevron-down"></i>
                </a>
                <ul class="iner-item">
                    <li class="item">
                        <a href="#">ADIDAS ULTRA BOOST</a>
                    </li>
                    <li class="item">
                        <a href="#">ADIDAS YEEZY</a>
                    </li>
                    <li class="item">
                        <a href="#">ADIDAS ALPHABOUNCE</a>
                    </li>
                    <li class="item">
                        <a href="#">ADIDAS PROPHERE</a>
                    </li>
                    <li class="item">
                        <a href="#">ADIDAS EQT</a>
                    </li>
                    <li class="item">
                        <a href="#">ADIDAS HUMAN RACE</a>
                    </li>
                    <li class="item">
                        <a href="#">ADIDAS NMD</a>
                    </li>
                    <li class="item">
                        <a href="#">ADIDAS STAN SMITH</a>
                    </li>
                    <li class="item">
                        <a href="#">ADIDAS SUPERSTART</a>
                    </li>
                    <li class="item">
                        <a href="#">ADIDAS TUBULAR</a>
                    </li>   
                </ul>               
            </li>
            <li class="menu-iner">
                <a href="#">GIÀY NIKE
                    <i class="fas fa-chevron-down"></i>
                </a>
                <ul class="iner-item">
                    <li class="item">
                        <a href="#">NIKE JORDAN</a>
                    </li>
                    <li class="item">
                        <a href="#">NIKE AIR FORCE</a>
                    </li>
                    <li class="item">
                        <a href="#">NIKE AIR MAX 97</a>
                    </li>
                    <li class="item">
                        <a href="#">NIKE LUNAREOIC</a>
                    </li>
                    <li class="item">
                        <a href="#">NIKE AIR UPTEMPO</a>
                    </li>
                    <li class="item">
                        <a href="#">NIKE EPIC REACT</a>
                    </li> 
                </ul>     
            </li>
            <li class="menu-iner">
                <a href="#">GIÀY CONVERSE</a>
            </li>
            <li class="menu-iner">
                <a href="#">LUXURY
                    <i class="fas fa-chevron-down"></i>
                </a>
                <ul class="iner-item">
                    <li class="item">
                        <a href="#">GIÀY BALENCIAGA</a>
                    </li>
                    <li class="item">
                        <a href="#">GIÀY GUCCI</a>
                    </li>
                    <li class="item">
                        <a href="#">GIÀY RICK OWENS</a>
                    </li>
                    <li class="item">
                        <a href="#">GIÀY DIOR</a>
                    </li>
                    <li class="item">
                        <a href="#">GIÀY LOUIS VUITTON</a>
                    </li>
                    <li class="item">
                        <a href="#">GIÀY HERMES</a>
                    </li>
                    <li class="item">
                        <a href="#">GIÀY BURBERRY</a>
                    </li>
                    <li class="item">
                        <a href="#">GIÀY DOLICE & GABBANA</a>
                    </li>
                    <li class="item">
                        <a href="#">GIÀY VALENTINO</a>
                    </li>
                    <li class="item">
                        <a href="#">GIÀY FENDI</a>
                    </li>
                    <li class="item">
                        <a href="#">GIVENCHY</a>
                    </li>     
                    <li class="item">
                        <a href="#">GIÀY VERSACE</a>
                    </li>   
                </ul>     
            </li>
            <li class="menu-iner">
                <a href="#">TOP SNEAKER
                    <i class="fas fa-chevron-down"></i> 
                </a>
                <ul class="iner-item iner-item-sneaker">
                    <li class="item">
                        <a href="#">GIÀY VANS</a>
                    </li>
                    <li class="item">
                        <a href="#">GIÀY FILA</a>
                    </li>
                    <li class="item">
                        <a href="#">GIÀY PUMA</a>
                    </li>
                </ul>
            </li>
            <li class="menu-iner">
                <a href="#">DÉP NAM
                    <i class="fas fa-chevron-down"></i>
                </a>
                <ul class="iner-item">
                    <li class="item">
                        <a href="#">DÉP GUCCI</a>
                    </li>
                    <li class="item">
                        <a href="#">DÉP HERMES</a>
                    </li>
                    <li class="item">
                        <a href="#">DÉP BALENCIAGA</a>
                    </li>
                    <li class="item">
                        <a href="#">DÉP LOUIS VUITTON</a>
                    </li>
                    <li class="item">
                        <a href="#">DÉP DOLICE & GABBANA</a>
                    </li>
                    <li class="item">
                        <a href="#">DÉP FENDI</a>
                    </li> 
                </ul>      
            </li>
            <li class="menu-iner">  
                <a href="#">PHỤ KIỆN</a>
            </li> 
        </ul>
    </div>
</header>

<!-- mobile-->
<header class="mobile"> 
    <div class-="mo-top-z">
        <div class="mo-top-left">
            <img src="asset/image/logo/logo-1.png" alt="logo-store">
        </div>
        <div class="mo-top-right">
           <div class="shopping">
                <a href="#">
                    <i class="fas fa-shopping-cart"></i>
                    <span>Giỏ hàng(o) 0 /</span>
                    <strong class="
                    currency">0</strong>
                    <strong class="
                    currency">đ</strong>
                </a>
           </div>
            <div class="navbar">
                <i class="fas fa-bars" id="bar"></i>
                <i class="fas fa-times" id="close-bar"></i>
            </div>
        </div>
        <div class="clear-float"></div>
    </div>
    <div class="mo-menu" id="mobile-menu">
        <div class="menu-search">
            <form class="search-form">
                <label for="search"></label>
                <input type="text" placeholder="Tìm kiếm sản phẩm">
                <button type="submit" id="searchsubmit">
                    <i class="fas fa-search"></i>
                </button>
            </form>
        </div>
        <div class="mo-menu-iner-sim">
            <div class="mo-iner">
                <a href="#">HOME</a>
            </div>
        </div>  
        <div class="mo-menu-iner-2">
            <div class="mo-iner"> 
                <a href="#">GIÀY ADIDAS</a>
            </div>
            <div class="mo-down">
                <i class="fas fa-chevron-down mobile-menu" onclick="clickMobileMenuDrop(0)"></i>
                <i class="fas fa-times close-mobile-menu"  onclick="clickCloseMenuDrop(0)"></i>
            </div>
            <div class="clear-float"></div>
        </div>
        <div class="mo-menu-iner-into">
            <div class="mo-iner-item">
                <a href="#">ADIDAS ULTRA BOOST</a>
            </div>
            <div class="mo-iner-item">
                <a href="#">ADIDAS ULTRA BOOST</a>
            </div>
            <div class="mo-iner-item">
                <a href="#">ADIDAS ULTRA BOOST</a>
            </div>
            <div class="mo-iner-item">
                <a href="#">ADIDAS ULTRA BOOST</a>
            </div>
            <div class="mo-iner-item">
                <a href="#">ADIDAS ULTRA BOOST</a>
            </div>
            <div class="mo-iner-item">
                <a href="#">ADIDAS ULTRA BOOST</a>
            </div>
            <div class="mo-iner-item">
                <a href="#">ADIDAS ULTRA BOOST</a>
            </div>
        </div>
        <div class="mo-menu-iner-2">
            <div class="mo-iner"> 
                <a href="#">GIÀY NIKE</a>
            </div>
            <div class="mo-down">
                <i class="fas fa-chevron-down mobile-menu" onclick="clickMobileMenuDrop(1)"></i>
                <i class="fas fa-times close-mobile-menu"  onclick="clickCloseMenuDrop(1)"></i>
            </div>
            <div class="clear-float"></div>
        </div>
        <div class="mo-menu-iner-into">
            <div class="mo-iner-item">
                <a href="#">ADIDAS ULTRA BOOST</a>
            </div>
            <div class="mo-iner-item">
                <a href="#">ADIDAS ULTRA BOOST</a>
            </div>
            <div class="mo-iner-item">
                <a href="#">ADIDAS ULTRA BOOST</a>
            </div>
            <div class="mo-iner-item">
                <a href="#">ADIDAS ULTRA BOOST</a>
            </div>
            <div class="mo-iner-item">
                <a href="#">ADIDAS ULTRA BOOST</a>
            </div>
            <div class="mo-iner-item">
                <a href="#">ADIDAS ULTRA BOOST</a>
            </div>
            <div class="mo-iner-item">
                <a href="#">ADIDAS ULTRA BOOST</a>
            </div>
        </div>
        <div class="mo-menu-iner-sim">
            <div class="mo-iner">
                <a href="#">GIÀY CONVERSE</a>
            </div>
        </div>
        <div class="mo-menu-iner-2">
            <div class="mo-iner"> 
                <a href="#">LUXURY</a>
            </div>
            <div class="mo-down">
                <i class="fas fa-chevron-down mobile-menu" onclick="clickMobileMenuDrop(2)"></i>
                <i class="fas fa-times close-mobile-menu"  onclick="clickCloseMenuDrop(2)"></i>
            </div>
            <div class="clear-float"></div>
        </div>
        <div class="mo-menu-iner-into">
            <div class="mo-iner-item">
                <a href="#">ADIDAS ULTRA BOOST</a>
            </div>
            <div class="mo-iner-item">
                <a href="#">ADIDAS ULTRA BOOST</a>
            </div>
            <div class="mo-iner-item">
                <a href="#">ADIDAS ULTRA BOOST</a>
            </div>
            <div class="mo-iner-item">
                <a href="#">ADIDAS ULTRA BOOST</a>
            </div>
            <div class="mo-iner-item">
                <a href="#">ADIDAS ULTRA BOOST</a>
            </div>
            <div class="mo-iner-item">
                <a href="#">ADIDAS ULTRA BOOST</a>
            </div>
            <div class="mo-iner-item">
                <a href="#">ADIDAS ULTRA BOOST</a>
            </div>
        </div>
        <div class="mo-menu-iner-2">
            <div class="mo-iner"> 
                <a href="#">TOP SNEAKER</a>
            </div>
            <div class="mo-down">
                <i class="fas fa-chevron-down mobile-menu" onclick="clickMobileMenuDrop(3)"></i>
                <i class="fas fa-times close-mobile-menu"  onclick="clickCloseMenuDrop(3)"></i>
            </div>
            <div class="clear-float"></div>
        </div>
        <div class="mo-menu-iner-2">
            <div class="mo-iner"> 
                <a href="#">DÉP NAM</a>
            </div>
            <div class="mo-down">
                <i class="fas fa-chevron-down mobile-menu" onclick="clickMobileMenuDrop(4)"></i>
                <i class="fas fa-times close-mobile-menu"  onclick="clickCloseMenuDrop(4)"></i>
            </div>
            <div class="clear-float"></div>
        </div>
        <div class="mo-menu-iner-sim">
            <div class="mo-iner">
                <a href="#">GIÀY CONVERSE</a>
            </div>
        </div>
    </div>
</header>
<div class="space-white" id="click-space"></div>