<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
      <div class="sidebar-brand-icon rotate-n-15">
        <i class="fas fa-laugh-wink"></i>
      </div>
      <div class="sidebar-brand-text mx-3">Web Bán Giày</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
      <a class="nav-link" href="index.html">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Quản Lý</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
      Interface
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="/admin/product/add-product" aria-expanded="true" aria-controls="collapseTwo">
        <span>Thêm Sản Phẩm</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" href="/admin/producer/producer-list" aria-expanded="true" aria-controls="collapseTwo">
        <span>Nhà Sản Xuất</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" href="/admin/product-type/get-product-type-list" aria-expanded="true" aria-controls="collapseTwo">
        <span>Loại Giày</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" href="#" aria-expanded="true" aria-controls="collapseTwo">
        <span>Bài Tham Khảo</span>
      </a>
    </li>


</ul>